node_red/node-red/flows.json
[{"id":"8fd4e6f5.2b5","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"7e953954.fcb5d8","type":"subflow","name":"шлите еще чеки","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"289e7379.c67234"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"1605efdb.8d836","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c8291d3.ad832e","type":"subflow","name":"QR декодер","info":"","category":"","in":[{"x":20,"y":240,"wires":[{"id":"ddb09871.3d116"},{"id":"2cbdb6bd.ff8942"}]}],"out":[{"x":1080,"y":240,"wires":[{"id":"f8738091.a97758","port":0}]},{"x":1080,"y":360,"wires":[{"id":"b229d4ef.393f9","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a4b0c40a.f96458","type":"telegram bot","botname":"germes_pogoda_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"600","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"20f778b0.3b0388","type":"chatbot-telegram-node","botname":"germes_pogoda_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"d086776c.7de82","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d91aa191.85592","type":"chatbot-telegram-receive","z":"8fd4e6f5.2b5","bot":"20f778b0.3b0388","botProduction":"","x":90,"y":360,"wires":[["c9f6a457.f1d83"]]},{"id":"3d826acf.deefde","type":"chatbot-telegram-send","z":"8fd4e6f5.2b5","bot":"20f778b0.3b0388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1910,"y":540,"wires":[]},{"id":"c9f6a457.f1d83","type":"chatbot-rules","z":"8fd4e6f5.2b5","name":"","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/attach_check"},{"type":"command","command":"/howto"},{"type":"messageType","messageType":"photo"},{"type":"command","command":"/my_receipts"},{"type":"catchAll"}],"outputs":6,"x":150,"y":500,"wires":[["77e2ce.f1ad4d34","d4df95f7.9da3f8"],["d1a0f985.24c358"],["e5178e10.fd53a8"],["68405a2c.30ab94","74181af2.0b2134"],["ed4d7bf7.e5635","4ae274e0.46cefc"],["b80807df.9ac2c8"]]},{"id":"521b8475.7f43c4","type":"chatbot-inline-buttons","z":"8fd4e6f5.2b5","name":"привествие","buttons":[{"type":"postback","label":"Послать чек","value":"/attach_check","answer":"","alert":false,"style":""}],"message":"Здравствуйте!\nПокупайте продукцию \"Тотальная Деревня\" и выигрывайте призы! \n🎁 🎁 🎁\n\nБлижайший розыгрышь будет 21 апреля.\nРазыгрывается Вагон Яблок.\n\nПодробнее о правилах конкурса: http://gmail.com\n\nЧтобы участовать в розыгрыше,\nпришлите чек 🧾 в котором есть продукты Тотальная Деревня.","x":610,"y":120,"wires":[["cda83f81.eb5fd8"]]},{"id":"e5178e10.fd53a8","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"как фотографировать","message":[{"message":"Лучше всего получается, если:\n- чек хорошо освещен\n- изображение не смазанное\n- QR код виден целиком\n\nОтправьте сюда фотографию чека."}],"language":"none","x":480,"y":300,"wires":[["cda83f81.eb5fd8"]]},{"id":"f7f28b36.fcd4f","type":"delay","z":"8fd4e6f5.2b5","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":500,"wires":[["929ffdae.426808"]]},{"id":"ed4d7bf7.e5635","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"мои покупки + короткая инфа о ближайшем розыгрыше","message":[{"message":"Ваши покупки\n\nЧек N33333 от 21 апреля 2021 23:45:\n- Томатная лапша Тотальная деревня — 2 штуки.\n- Бананы гигантские — 2 кг.\n\nВсе эти продукты участвуют в розыгрыше \"Вагон Яблок\" который произойдёт 23 апреля."}],"language":"none","x":850,"y":760,"wires":[["a55eadd9.201f2"]]},{"id":"ff52bc66.f63a18","type":"function","z":"8fd4e6f5.2b5","name":"добавить кливиатуру  Послать чек","func":"msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n    {type: 'keyboardButton', label: 'Послать чек'}\n  ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":60,"wires":[[]]},{"id":"b80807df.9ac2c8","type":"switch","z":"8fd4e6f5.2b5","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"Послать чек","vt":"str"},{"t":"cont","v":"Начать Розыгрыш","vt":"str"},{"t":"cont","v":"Розыгрыш, вы победили","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":370,"y":900,"wires":[[],["26221f4d.66ee5"],["9be92f05.77418","b9f0c80f.ce8e68"]]},{"id":"289e7379.c67234","type":"delay","z":"7e953954.fcb5d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":80,"wires":[["1605efdb.8d836"]]},{"id":"1605efdb.8d836","type":"chatbot-inline-buttons","z":"7e953954.fcb5d8","name":"шлите еще чеки","buttons":[{"type":"postback","label":"Послать чек","value":"/attach_check","answer":"","alert":false,"style":""}],"message":"Чем больше продуктов Тотальная Деревня вы покупаете,\nтем больше у вас шансов выйграть приз.\n\nЖдем ещё чеки.","x":470,"y":80,"wires":[[]]},{"id":"e5fd921d.7769a8","type":"subflow:7e953954.fcb5d8","z":"8fd4e6f5.2b5","name":"","env":[],"x":1410,"y":580,"wires":[["3d826acf.deefde"]]},{"id":"4ae274e0.46cefc","type":"subflow:7e953954.fcb5d8","z":"8fd4e6f5.2b5","name":"","env":[],"x":730,"y":820,"wires":[["a55eadd9.201f2"]]},{"id":"e90d4f4c.f5da","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"QR не распознан Try again","message":[{"message":"😞 Нашему роботу не удалось увидеть QR-код на чеке. \n\n📷 Попробуйте сфотографировать чек еще раз.\n\nЛучше всего получается, если:\n- QR код виден целиком\n- чек хорошо освещен\n- изображение не смазанное\n\n📎 Отправьте сюда фотографию чека. "}],"language":"none","x":1420,"y":640,"wires":[["3d826acf.deefde"]]},{"id":"929ffdae.426808","type":"function","z":"8fd4e6f5.2b5","name":"random","func":"const min = 0\nconst max = 1;\n\nrnd = Math.floor(Math.random() * (max - min + 1)) + min;\n\nif( rnd == 0)\n    return [msg, null];\n\nif( rnd == 1)\n    return [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1160,"y":500,"wires":[["6bd5a293.f917b4"],["e5fd921d.7769a8","182a2a14.53a086"]]},{"id":"6bd5a293.f917b4","type":"chatbot-inline-buttons","z":"8fd4e6f5.2b5","name":"нет нужных продуктов","buttons":[{"type":"postback","label":"Послать чек","value":"/attach_check","answer":"","alert":false,"style":""}],"message":"☹️ Похоже, в этом чеке нет нужных продуктов.\n\nВ акции учавствуют только продукция Тотальная деревня.\n\nЖдем новых чеков.","x":1430,"y":460,"wires":[["3d826acf.deefde"]]},{"id":"77e2ce.f1ad4d34","type":"chatbot-image","z":"8fd4e6f5.2b5","name":"заставка","filename":"","image":"/data/static/total_village_min.png","caption":"","x":380,"y":80,"wires":[["cda83f81.eb5fd8"]]},{"id":"d4df95f7.9da3f8","type":"delay","z":"8fd4e6f5.2b5","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":120,"wires":[["521b8475.7f43c4"]]},{"id":"6a99256f.88e1a4","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"Как получить приз","message":[{"message":"Сейчас с вами свяжется наш оператор, чтобы согласовать доставку приза.\nЕго контакт @total_hamlet_operator"}],"language":"none","x":810,"y":1000,"wires":[["a55eadd9.201f2"]]},{"id":"9be92f05.77418","type":"delay","z":"8fd4e6f5.2b5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":1000,"wires":[["6a99256f.88e1a4"]]},{"id":"a55eadd9.201f2","type":"chatbot-telegram-send","z":"8fd4e6f5.2b5","bot":"20f778b0.3b0388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1210,"y":820,"wires":[]},{"id":"9caea2e9.6c03b8","type":"function","z":"8fd4e6f5.2b5","name":"добавить кливиатуру  Розыгрыш","func":"msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n    {type: 'keyboardButton', label: 'Начать Розыгрыш'},\n    {type: 'keyboardButton', label: 'Розыгрыш, вы победили'},\n  ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":140,"wires":[[]]},{"id":"26221f4d.66ee5","type":"chatbot-ask","z":"8fd4e6f5.2b5","name":"Прошел розыгрыш + сброс админки","buttons":[],"message":"🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш Вагона Яблок.\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\nКаждый из них получает Вагон Яблок!\n🎁 🎁 🎁\n","x":790,"y":860,"wires":[["a55eadd9.201f2"]]},{"id":"b9f0c80f.ce8e68","type":"chatbot-ask","z":"8fd4e6f5.2b5","name":"Вы выйграли! + сброс админки","buttons":[],"message":"🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш Вагона Яблок.\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\nВы выйграли Вагон Яблок!\n🎁 🎁 🎁","x":770,"y":920,"wires":[["a55eadd9.201f2"]]},{"id":"182a2a14.53a086","type":"chatbot-ask","z":"8fd4e6f5.2b5","name":"Чек принят +  Админка розыгрыша","buttons":[{"type":"keyboardButton","label":"Начать Розыгрыш"},{"type":"keyboardButton","label":"Розыгрыш, вы победили"}],"message":"👍 Мы проверили ваш чек от 21 января 2021\nи нашли 2 продукта бренда Тотальная Деревня.\n\nТеперь 2 продукта из 2 чеков учавствуют в розыгрыше \"Вагон Яблок\" 23 апреля.\nПодробнее о всех ваших чеках: /my_receipts","x":1460,"y":520,"wires":[["3d826acf.deefde"]]},{"id":"d1a0f985.24c358","type":"chatbot-ask","z":"8fd4e6f5.2b5","name":"\"прикрепите чек\" + Админка \"послать чек\"","buttons":[{"type":"keyboardButton","label":"Послать чек"}],"message":"📷 Сфотографируйте чек. \n\nНа нем должен быть хорошо виден QR-код.\n\nЛучше всего получается, если:\n- чек хорошо освещен\n- изображение не смазанное\n\n📎 Отправьте сюда фотографию чека. ","x":490,"y":180,"wires":[["cda83f81.eb5fd8"]]},{"id":"e0f09a91.060498","type":"Barcode Decoder","z":"8fd4e6f5.2b5","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1610,"y":1300,"wires":[["ffd84bc3.df75f8"]]},{"id":"ffd84bc3.df75f8","type":"debug","z":"8fd4e6f5.2b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1790,"y":1300,"wires":[]},{"id":"2779db08.3f7d3c","type":"inject","z":"8fd4e6f5.2b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":1300,"wires":[["92d54baf.941a4"]]},{"id":"92d54baf.941a4","type":"jimp-image","z":"8fd4e6f5.2b5","name":"","data":"/data/static/check2.jpg","dataType":"str","ret":"img","parameter1":"[{\"name\": \"grayscale\"},{\"name\":\"normalize\"},{\"name\":\"blur\",\"parameters\":[3]}]","parameter1Type":"json","parameter2":"RESIZE_BICUBIC","parameter2Type":"Jimp","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":930,"y":1300,"wires":[["36bdb905.1ff99e"]],"icon":"font-awesome/fa-image"},{"id":"36bdb905.1ff99e","type":"jimp-image","z":"8fd4e6f5.2b5","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"greyscale","selectedJimpFunction":{"name":"greyscale","fn":"greyscale","description":"remove colour from the image","parameters":[]},"x":1080,"y":1300,"wires":[["e86b6b17.94b4a"]]},{"id":"e86b6b17.94b4a","type":"jimp-image","z":"8fd4e6f5.2b5","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":1240,"y":1300,"wires":[["e0f09a91.060498","95378673.9e66c"]]},{"id":"95378673.9e66c","type":"image viewer","z":"8fd4e6f5.2b5","name":"","width":160,"data":"payload","dataType":"msg","x":1590,"y":1380,"wires":[[]]},{"id":"29a1047a.9726c4","type":"chatbot-ask","z":"8fd4e6f5.2b5","name":"","buttons":[],"message":"","x":890,"y":40,"wires":[[]]},{"id":"59e806f6.83084","type":"comment","z":"8fd4e6f5.2b5","name":"получили картинку","info":"","x":330,"y":500,"wires":[]},{"id":"27dd4eb8.f83c6a","type":"Barcode Decoder","z":"8fd4e6f5.2b5","name":"lol","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1550,"y":1420,"wires":[["c11b4cf.32ae7b"]]},{"id":"cccc9c3f.c12b88","type":"image viewer","z":"8fd4e6f5.2b5","name":"","width":160,"data":"payload","dataType":"msg","x":1550,"y":1500,"wires":[[]]},{"id":"c11b4cf.32ae7b","type":"debug","z":"8fd4e6f5.2b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":1420,"wires":[]},{"id":"f8738091.a97758","type":"Barcode Decoder","z":"c8291d3.ad832e","name":"QR декодирование","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":640,"y":240,"wires":[[]]},{"id":"d74272f9.dbbeb8","type":"status","z":"c8291d3.ad832e","name":"QR код не распознан","scope":["f8738091.a97758"],"x":220,"y":440,"wires":[["9e16c5d2.009f9"]]},{"id":"9e16c5d2.009f9","type":"switch","z":"c8291d3.ad832e","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Not found","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":440,"wires":[["8c6f6a03.7c57e"]]},{"id":"cda83f81.eb5fd8","type":"chatbot-telegram-send","z":"8fd4e6f5.2b5","bot":"20f778b0.3b0388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":890,"y":80,"wires":[]},{"id":"2cbdb6bd.ff8942","type":"change","z":"c8291d3.ad832e","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":360,"wires":[["b229d4ef.393f9"]]},{"id":"8c6f6a03.7c57e","type":"change","z":"c8291d3.ad832e","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["b229d4ef.393f9"]]},{"id":"b229d4ef.393f9","type":"function","z":"c8291d3.ad832e","name":"отправляем сообщение, если пришло msg.complete","func":"if( msg.reset )\n{\n    context.set('msg_old', msg)\n}\n\nif( msg.complete )\n{\n    msg_old = context.get('msg_old')\n    return msg_old\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":360,"wires":[[]]},{"id":"dcfab70f.dd0e1","type":"subflow:c8291d3.ad832e","z":"8fd4e6f5.2b5","name":"","env":[],"x":710,"y":500,"wires":[["f7f28b36.fcd4f","480b4eab.564a08"],["e90d4f4c.f5da"]]},{"id":"ddb09871.3d116","type":"jimp-image","z":"c8291d3.ad832e","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"greyscale","selectedJimpFunction":{"name":"greyscale","fn":"greyscale","description":"remove colour from the image","parameters":[]},"x":200,"y":240,"wires":[["3ff814d.ebbb8ec"]]},{"id":"3ff814d.ebbb8ec","type":"jimp-image","z":"c8291d3.ad832e","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":400,"y":240,"wires":[["f8738091.a97758"]]},{"id":"74181af2.0b2134","type":"chatbot-waiting","z":"8fd4e6f5.2b5","waitingType":"","x":1140,"y":180,"wires":[["3d826acf.deefde"]]},{"id":"68405a2c.30ab94","type":"chatbot-parse","z":"8fd4e6f5.2b5","name":"parse image","parseType":"photo","parseVariable":"string","x":530,"y":500,"wires":[["dcfab70f.dd0e1"],[]]},{"id":"480b4eab.564a08","type":"function","z":"8fd4e6f5.2b5","name":"парсер чека","func":"var  s = String(msg.payload);\ns = \"t=20180114T124900&s=1663.19&fn=8710000101454543&i=133273&fp=2051176739&n=1\"\n\nmsg.payload = {}\nvar result;\n\nresult = s.match(/(?:^|&)t=(\\d\\d\\d\\d)(\\d\\d)(\\d\\d)T(\\d\\d)(\\d\\d)(\\d\\d)(?:$|&)/);\nif( result ){\n    msg.payload.date = new Date( result[1], result[2]-1, result[3], result[4], result[5], result[6] );\n} else\n    return [null, msg];\n\nresult = s.match(/(?:^|&)s=([\\d\\.]*)(?:$|&)/);\nif( result ){\n    msg.payload.price = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)fn=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fn = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)fp=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fp = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)i=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fd = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)n=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.n = result[1]\n} else \n    return [null, msg];\n\nreturn [msg, null]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":890,"y":360,"wires":[["6a95dc16.b39c04"],["271823ed.36c154"]]},{"id":"271823ed.36c154","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"плохой QR-код TODO: fix","message":[{"message":"Похоже, это неравильный QR код.\nПопробуйте сфотографировать другой."}],"language":"none","x":1430,"y":400,"wires":[["3d826acf.deefde"]]},{"id":"91b8321e.9a1d8","type":"chatbot-message","z":"8fd4e6f5.2b5","name":"QR распознан","message":[{"message":" Спасибо!\n✔️ Мы получили ваш чек от {{check.day}} {{check.month}} {{check.year}} {{check.hour}}:{{check.minute}}.\nВы учавствуете в розыгрыше!\n\nНа всякий случай, наш модератор проверяет ваш чек…\nМы напишем, если вдуг что-то пойдет не так."}],"language":"none","x":1400,"y":340,"wires":[["3d826acf.deefde"]]},{"id":"ea1c54a5.edc3e","type":"function","z":"8fd4e6f5.2b5","name":"сохраняем чек в контекст","func":"const chat = msg.chat();\nPromise.resolve(chat.set({\n  check: msg.payload\n})).then(() => node.send(msg));\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":340,"wires":[["91b8321e.9a1d8"]]},{"id":"6a95dc16.b39c04","type":"function","z":"8fd4e6f5.2b5","name":"date to human strings","func":"var monthA = 'января,февраля,марта,апреля,мая,июня,июля,август,сентября,октября,ноября,декабря'.split(',');\n\nmsg.payload.year =  msg.payload.date.getFullYear()\nmsg.payload.month =  monthA[msg.payload.date.getMonth()]\nmsg.payload.day =  msg.payload.date.getDate()\nmsg.payload.hour =  msg.payload.date.getHours()\nmsg.payload.minute =  msg.payload.date.getMinutes()\nmsg.payload.seconds =  msg.payload.date.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":280,"wires":[["ea1c54a5.edc3e"]]}]