node-red-deploy-example/flows.json
[
    {
        "id": "8fd4e6f5.2b5",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e953954.fcb5d8",
        "type": "subflow",
        "name": "wait 3s + шлите еще чеки",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "289e7379.c67234"
                    },
                    {
                        "id": "361974ad.0579d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 80,
                "wires": [
                    {
                        "id": "1605efdb.8d836",
                        "port": 0
                    },
                    {
                        "id": "361974ad.0579d4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "c8291d3.ad832e",
        "type": "subflow",
        "name": "QR декодер",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 240,
                "wires": [
                    {
                        "id": "ddb09871.3d116"
                    },
                    {
                        "id": "2cbdb6bd.ff8942"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 240,
                "wires": [
                    {
                        "id": "f8738091.a97758",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1080,
                "y": 360,
                "wires": [
                    {
                        "id": "b229d4ef.393f9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "660ea558.f2d464",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "name": "",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "77e2ce.f1ad4d34",
            "d4df95f7.9da3f8",
            "6c4c8373.64405c",
            "c051070d.aa33f",
            "420a2877.e839c8",
            "d95c7c8a.ae9a4",
            "1a4984d9.0a77c3",
            "9da63d74.bb371",
            "a14ba75e.2b2448"
        ],
        "x": 774,
        "y": 19,
        "w": 662,
        "h": 222
    },
    {
        "id": "e3c4aa60.8d38b8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "name": "",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "d1a0f985.24c358",
            "6027141b.14d22c",
            "c3e0f122.6fd5c",
            "9cbc19ed.23fa88",
            "caee6813.c407b8",
            "98d55889.7babd"
        ],
        "x": 774,
        "y": 259,
        "w": 662,
        "h": 162
    },
    {
        "id": "d57174ee.15bfa8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "ed4d7bf7.e5635",
            "4ae274e0.46cefc",
            "2a4313a9.fb8e64",
            "232336dd.6ccd72"
        ],
        "x": 774,
        "y": 819,
        "w": 642,
        "h": 122
    },
    {
        "id": "a8d60a11.ad5dd",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "6a99256f.88e1a4",
            "9be92f05.77418",
            "b9f0c80f.ce8e68",
            "c8259531.4a7c6",
            "499de648.0f77f8",
            "ef32b043.44f998",
            "55bbb77d.44be48",
            "51b7713a.3efc3",
            "59e1e40c.c74c64"
        ],
        "x": 774,
        "y": 1299,
        "w": 602,
        "h": 202
    },
    {
        "id": "e598b36b.07f8e8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "332252d3.ec752e",
            "26221f4d.66ee5",
            "cf8b5a6f.e7ced8",
            "fe3dd9f5.49c6d8",
            "a1a1255e.4dd4e"
        ],
        "x": 774,
        "y": 1139,
        "w": 602,
        "h": 122
    },
    {
        "id": "3a1b88f8.2b19a8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "59f6a64.d3772d8",
            "c806064f.848d5",
            "293866c4.6dcc52",
            "1c6ac24f.bca4e6",
            "cd5778f6.dca99",
            "e01075c7.ae8108"
        ],
        "x": 774,
        "y": 619,
        "w": 602,
        "h": 162
    },
    {
        "id": "98da4fcd.e649b8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "name": "получили от пользователя фотографию чека",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "f7f28b36.fcd4f",
            "e5fd921d.7769a8",
            "e90d4f4c.f5da",
            "929ffdae.426808",
            "6bd5a293.f917b4",
            "182a2a14.53a086",
            "dcfab70f.dd0e1",
            "74181af2.0b2134",
            "68405a2c.30ab94",
            "480b4eab.564a08",
            "271823ed.36c154",
            "91b8321e.9a1d8",
            "ea1c54a5.edc3e",
            "6a95dc16.b39c04",
            "553e1d07.8dbb34",
            "263dc94a.f243de",
            "792d2c3c.22bcec",
            "c2ec4542.36c758",
            "532f0c02.40abe4",
            "f313a45f.23ab08",
            "363f4e9b.dd53ba",
            "bc690e99.dac428",
            "2e4cbf44.38eef8",
            "c55bb023.fa816",
            "b714c59e.da4518",
            "2b47727a.5e3626",
            "b58f1bf5.bcd3",
            "2b39295.663f7d6",
            "45bdd1f0.0d3ba",
            "f4f0bb5a.f44ef"
        ],
        "x": 114,
        "y": 1659,
        "w": 1592,
        "h": 402
    },
    {
        "id": "ae41901e.e309d",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "cda83f81.eb5fd8",
            "f6219c11.51b578",
            "c6b9dcd1.7321a8"
        ],
        "x": 1474,
        "y": 239,
        "w": 292,
        "h": 142
    },
    {
        "id": "509bccba.e54e4c",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d7a9808.2ff5a",
            "4befa605.164d7",
            "bc96f608.63f2f8",
            "df56a5fe.0817a"
        ],
        "x": 774,
        "y": 979,
        "w": 522,
        "h": 122
    },
    {
        "id": "92ab3390.fc31c8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "f3c2b4bc.c5e8b",
            "b0fbc808.d6a898",
            "e9cc7291.a961d",
            "e202c5df.22bf8"
        ],
        "x": 774,
        "y": 1499,
        "w": 602,
        "h": 122
    },
    {
        "id": "23898736.a067d8",
        "type": "group",
        "z": "8fd4e6f5.2b5",
        "style": {
            "stroke": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "4db21630.ad39c",
            "8f7e455d.99f5f8",
            "99d2954c.9485b",
            "44af6ed6.0317c8"
        ],
        "x": 774,
        "y": 459,
        "w": 602,
        "h": 122
    },
    {
        "id": "a4b0c40a.f96458",
        "type": "telegram bot",
        "botname": "germes_pogoda_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "600",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "20f778b0.3b0388",
        "type": "chatbot-telegram-node",
        "botname": "germes_pogoda_bot",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "d086776c.7de82",
        "type": "telegram bot",
        "botname": "HeinzBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c3670dce.18aa8",
        "type": "telegram bot",
        "botname": "HeinzBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "2db9661a.cf3b0a",
        "type": "telegram bot",
        "botname": "HeinzBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d91aa191.85592",
        "type": "chatbot-telegram-receive",
        "z": "8fd4e6f5.2b5",
        "bot": "20f778b0.3b0388",
        "botProduction": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "c9f6a457.f1d83"
            ]
        ]
    },
    {
        "id": "c9f6a457.f1d83",
        "type": "chatbot-rules",
        "z": "8fd4e6f5.2b5",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "command",
                "command": "/give_us_a_check"
            },
            {
                "type": "command",
                "command": "/check_example"
            },
            {
                "type": "command",
                "command": "/howto_photo"
            },
            {
                "type": "messageType",
                "messageType": "photo"
            },
            {
                "type": "command",
                "command": "/my_receipts"
            },
            {
                "type": "command",
                "command": "/terms"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 8,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "ff600.23e96a01"
            ],
            [
                "4ec943b7.4e3ebc"
            ],
            [
                "c6e629d5.115298"
            ],
            [
                "aa3d24ef.d48ea"
            ],
            [
                "1e972618.04434a"
            ],
            [
                "4da41694.4c2d8"
            ],
            [
                "fe36d899.4cea7"
            ],
            [
                "b80807df.9ac2c8"
            ]
        ]
    },
    {
        "id": "f7f28b36.fcd4f",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 1820,
        "wires": [
            [
                "929ffdae.426808"
            ]
        ]
    },
    {
        "id": "ed4d7bf7.e5635",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "d57174ee.15bfa8",
        "name": "мои покупки + короткая инфа о ближайшем розыгрыше",
        "message": [
            {
                "message": "Ваши покупки\n\nЧек от 21 апреля 2021 23:45:\n- Упаковка яблок «Тотальная деревня» — 2 штуки.\n\nВсе эти продукты участвуют в розыгрыше 3 ящиков ананасов,\nкоторый произойдёт 21 апреля, через 3 дня."
            }
        ],
        "language": "none",
        "x": 1090,
        "y": 860,
        "wires": [
            [
                "232336dd.6ccd72"
            ]
        ]
    },
    {
        "id": "ff52bc66.f63a18",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "name": "добавить кливиатуру  Послать чек",
        "func": "msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n    {type: 'keyboardButton', label: 'Послать чек'}\n  ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b80807df.9ac2c8",
        "type": "switch",
        "z": "8fd4e6f5.2b5",
        "name": "сообщения от админки",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Послать демонстрационный чек",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Розыгрыш, победил кто-то ещё",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Розыгрыш, вы победили",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "ae4b78b5.30fea8"
            ],
            [
                "16697759.4fd7d9"
            ],
            [
                "6343b2cf.c8f88c"
            ]
        ]
    },
    {
        "id": "289e7379.c67234",
        "type": "delay",
        "z": "7e953954.fcb5d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "1605efdb.8d836"
            ]
        ]
    },
    {
        "id": "1605efdb.8d836",
        "type": "chatbot-inline-buttons",
        "z": "7e953954.fcb5d8",
        "name": "шлите еще чеки",
        "buttons": [
            {
                "type": "postback",
                "label": "Послать чек",
                "value": "/give_us_a_check ",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Чем больше продуктов Тотальная Деревня вы покупаете,\nтем больше у вас шансов выйграть приз.\n\nЖдем ещё чеки.",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e5fd921d.7769a8",
        "type": "subflow:7e953954.fcb5d8",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "env": [],
        "x": 1300,
        "y": 1920,
        "wires": [
            [
                "792d2c3c.22bcec"
            ]
        ]
    },
    {
        "id": "4ae274e0.46cefc",
        "type": "subflow:7e953954.fcb5d8",
        "z": "8fd4e6f5.2b5",
        "g": "d57174ee.15bfa8",
        "name": "",
        "env": [],
        "x": 1059,
        "y": 900,
        "wires": [
            [
                "232336dd.6ccd72"
            ]
        ]
    },
    {
        "id": "e90d4f4c.f5da",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "QR не распознан Try again",
        "message": [
            {
                "message": "😞 Нашему роботу не удалось увидеть QR-код на чеке. \n\n📷 Попробуйте сфотографировать чек еще раз.\n\nЛучше всего получается, если:\n- QR код виден целиком\n- чек хорошо освещен\n- изображение не смазанное\n\nПодробнее о том, как фотографировать чек, с примером: /howto_photo\n\n📎 Отправьте сюда фотографию чека. "
            }
        ],
        "language": "none",
        "x": 740,
        "y": 2020,
        "wires": [
            [
                "c2ec4542.36c758"
            ]
        ]
    },
    {
        "id": "929ffdae.426808",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "random",
        "func": "const min = 0\nconst max = 1;\n\nrnd = Math.floor(Math.random() * (max - min + 1)) + min;\n\nif( rnd == 0)\n    return [msg, null];\n\nif( rnd == 1)\n    return [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 1820,
        "wires": [
            [
                "6bd5a293.f917b4"
            ],
            [
                "e5fd921d.7769a8",
                "182a2a14.53a086",
                "45bdd1f0.0d3ba"
            ]
        ]
    },
    {
        "id": "6bd5a293.f917b4",
        "type": "chatbot-inline-buttons",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "нет нужных продуктов",
        "buttons": [
            {
                "type": "postback",
                "label": "Послать чек",
                "value": "/give_us_a_check ",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "☹️ Похоже, в этом чеке нет нужных продуктов.\n\nВ акции учавствует только продукция «Тотальная деревня».\n\nЖдем новых чеков.",
        "x": 1290,
        "y": 1820,
        "wires": [
            [
                "792d2c3c.22bcec"
            ]
        ]
    },
    {
        "id": "77e2ce.f1ad4d34",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "заставка",
        "filename": "",
        "image": "/data/static/splash.png",
        "caption": "",
        "x": 1180,
        "y": 100,
        "wires": [
            [
                "c051070d.aa33f"
            ]
        ]
    },
    {
        "id": "d4df95f7.9da3f8",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "a14ba75e.2b2448"
            ]
        ]
    },
    {
        "id": "6a99256f.88e1a4",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "Как получить приз",
        "message": [
            {
                "message": "Сейчас с вами свяжется наш оператор, чтобы согласовать доставку приза.\nЕго контакт @total_hamlet_operator"
            }
        ],
        "language": "none",
        "x": 1190,
        "y": 1420,
        "wires": [
            [
                "499de648.0f77f8"
            ]
        ]
    },
    {
        "id": "9be92f05.77418",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1000,
        "y": 1420,
        "wires": [
            [
                "6a99256f.88e1a4"
            ]
        ]
    },
    {
        "id": "26221f4d.66ee5",
        "type": "chatbot-ask",
        "z": "8fd4e6f5.2b5",
        "g": "e598b36b.07f8e8",
        "name": "Прошел розыгрыш + сброс админки",
        "buttons": [
            {
                "type": "keyboardButton",
                "label": "/start"
            }
        ],
        "message": "🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш 3 ящиков ананасов. 🎁\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\nКаждый из них получает ящик ананасов!\n🍍🍍🍍\n",
        "x": 1070,
        "y": 1180,
        "wires": [
            [
                "cf8b5a6f.e7ced8"
            ]
        ]
    },
    {
        "id": "b9f0c80f.ce8e68",
        "type": "chatbot-ask",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "Вы выйграли! + сброс админки",
        "buttons": [
            {
                "type": "keyboardButton",
                "label": "/start"
            }
        ],
        "message": "🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш 3 ящиков ананасов. 🎁\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\n🍍 Вы выйграли ящик ананасов!",
        "x": 1050,
        "y": 1340,
        "wires": [
            [
                "499de648.0f77f8"
            ]
        ]
    },
    {
        "id": "182a2a14.53a086",
        "type": "chatbot-ask",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "Чек принят +  Админка розыгрыша",
        "buttons": [
            {
                "type": "keyboardButton",
                "label": "Розыгрыш, вы победили"
            },
            {
                "type": "keyboardButton",
                "label": "Розыгрыш, победил кто-то ещё"
            }
        ],
        "message": "👍 Мы проверили ваш чек от 21 января 2021\nи нашли 2 продукта от «Тотальной Деревни».\n\nТеперь 4 продукта учавствуют в розыгрыше трех ящиков ананасов.\nРозыгрышь произойдет 21 апреля, через 3 дня.\nМы напишем вам о результатах.\n\nПодробнее о всех ваших чеках: /my_receipts",
        "x": 1320,
        "y": 1880,
        "wires": [
            [
                "792d2c3c.22bcec"
            ]
        ]
    },
    {
        "id": "d1a0f985.24c358",
        "type": "chatbot-ask",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "\"прикрепите чек\" + Админка \"послать чек\"",
        "buttons": [
            {
                "type": "keyboardButton",
                "label": "Послать демонстрационный чек"
            }
        ],
        "message": "📷 Сфотографируйте чек. \n\nНа нем должен быть хорошо виден QR-код.\n\nЛучше всего получится, если:\n- чек хорошо освещен\n- изображение четкое и не смазанное\n\nПример фотографии чека: /check_example\n\n📎 Отправьте сюда фотографию чека.",
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "c3e0f122.6fd5c"
            ]
        ]
    },
    {
        "id": "f8738091.a97758",
        "type": "Barcode Decoder",
        "z": "c8291d3.ad832e",
        "name": "QR декодирование",
        "data": "payload",
        "dataType": "msg",
        "tryharder": "true",
        "tryharderType": "bool",
        "QR_CODE": true,
        "DATA_MATRIX": false,
        "PDF_417": false,
        "EAN_8": false,
        "EAN_13": false,
        "CODE_39": false,
        "CODE_128": false,
        "ITF": false,
        "RSS_14": false,
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d74272f9.dbbeb8",
        "type": "status",
        "z": "c8291d3.ad832e",
        "name": "QR код не распознан",
        "scope": [
            "f8738091.a97758"
        ],
        "x": 220,
        "y": 440,
        "wires": [
            [
                "9e16c5d2.009f9"
            ]
        ]
    },
    {
        "id": "9e16c5d2.009f9",
        "type": "switch",
        "z": "c8291d3.ad832e",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Not found",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "8c6f6a03.7c57e"
            ]
        ]
    },
    {
        "id": "cda83f81.eb5fd8",
        "type": "chatbot-telegram-send",
        "z": "8fd4e6f5.2b5",
        "g": "ae41901e.e309d",
        "bot": "20f778b0.3b0388",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1650,
        "y": 340,
        "wires": []
    },
    {
        "id": "2cbdb6bd.ff8942",
        "type": "change",
        "z": "c8291d3.ad832e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "b229d4ef.393f9"
            ]
        ]
    },
    {
        "id": "8c6f6a03.7c57e",
        "type": "change",
        "z": "c8291d3.ad832e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "b229d4ef.393f9"
            ]
        ]
    },
    {
        "id": "b229d4ef.393f9",
        "type": "function",
        "z": "c8291d3.ad832e",
        "name": "отправляем сообщение, если пришло msg.complete",
        "func": "if( msg.reset )\n{\n    context.set('msg_old', msg)\n}\n\nif( msg.complete )\n{\n    msg_old = context.get('msg_old')\n    return msg_old\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dcfab70f.dd0e1",
        "type": "subflow:c8291d3.ad832e",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "env": [],
        "x": 470,
        "y": 1760,
        "wires": [
            [
                "480b4eab.564a08"
            ],
            [
                "e90d4f4c.f5da"
            ]
        ]
    },
    {
        "id": "ddb09871.3d116",
        "type": "jimp-image",
        "z": "c8291d3.ad832e",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "greyscale",
        "selectedJimpFunction": {
            "name": "greyscale",
            "fn": "greyscale",
            "description": "remove colour from the image",
            "parameters": []
        },
        "x": 200,
        "y": 240,
        "wires": [
            [
                "3ff814d.ebbb8ec"
            ]
        ]
    },
    {
        "id": "3ff814d.ebbb8ec",
        "type": "jimp-image",
        "z": "c8291d3.ad832e",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "normalize",
        "selectedJimpFunction": {
            "name": "normalize",
            "fn": "normalize",
            "description": "normalize the channels in an image",
            "parameters": []
        },
        "x": 400,
        "y": 240,
        "wires": [
            [
                "f8738091.a97758"
            ]
        ]
    },
    {
        "id": "74181af2.0b2134",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "waitingType": "",
        "x": 280,
        "y": 1700,
        "wires": [
            [
                "532f0c02.40abe4"
            ]
        ]
    },
    {
        "id": "68405a2c.30ab94",
        "type": "chatbot-parse",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "parse image",
        "parseType": "photo",
        "parseVariable": "string",
        "x": 290,
        "y": 1760,
        "wires": [
            [
                "dcfab70f.dd0e1"
            ],
            []
        ]
    },
    {
        "id": "480b4eab.564a08",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "парсер чека",
        "func": "var  s = String(msg.payload);\n\nmsg.payload = {}\nvar result;\n\nresult = s.match(/(?:^|&)t=(\\d\\d\\d\\d)(\\d\\d)(\\d\\d)T(\\d\\d)(\\d\\d)\\d?\\d?(?:$|&)/);\nif( result ){\n    msg.payload.date = new Date( result[1], result[2]-1, result[3], result[4], result[5] );\n} else\n    return [null, msg];\n\nresult = s.match(/(?:^|&)s=([\\d\\.]*)(?:$|&)/);\nif( result ){\n    msg.payload.price = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)fn=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fn = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)fp=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fp = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)i=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fd = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)n=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.n = result[1]\n} else \n    return [null, msg];\n\nreturn [msg, null]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 1760,
        "wires": [
            [
                "6a95dc16.b39c04",
                "f7f28b36.fcd4f"
            ],
            [
                "271823ed.36c154"
            ]
        ]
    },
    {
        "id": "271823ed.36c154",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "плохой QR-код TODO: fix",
        "message": [
            {
                "message": "Похоже, это неравильный QR код.\nПопробуйте сфотографировать другой."
            }
        ],
        "language": "none",
        "x": 890,
        "y": 1940,
        "wires": [
            [
                "bc690e99.dac428"
            ]
        ]
    },
    {
        "id": "91b8321e.9a1d8",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "QR распознан",
        "message": [
            {
                "message": " Спасибо!\n\n✅ Мы получили ваш чек,\nвы участвуете в розыгрыше!\n\nНа всякий случай, наш модератор проверяет ваш чек…\nМы напишем, если вдруг что-то пойдет не так."
            }
        ],
        "language": "none",
        "x": 1400,
        "y": 1760,
        "wires": [
            [
                "363f4e9b.dd53ba"
            ]
        ]
    },
    {
        "id": "ea1c54a5.edc3e",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "сохраняем чек в контекст",
        "func": "const chat = msg.chat();\nPromise.resolve(chat.set({\n  check: msg.payload\n})).then(() => node.send(msg));\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 1760,
        "wires": [
            [
                "91b8321e.9a1d8"
            ]
        ]
    },
    {
        "id": "6a95dc16.b39c04",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "date to human strings",
        "func": "var monthA = 'января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,ноября,декабря'.split(',');\n\nmsg.payload.year =  msg.payload.date.getFullYear()\nmsg.payload.month =  monthA[msg.payload.date.getMonth()]\nmsg.payload.day =  msg.payload.date.getDate()\nmsg.payload.hour =  msg.payload.date.getHours()\nmsg.payload.minute =  msg.payload.date.getMinutes()\nmsg.payload.seconds =  msg.payload.date.getSeconds()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 1760,
        "wires": [
            [
                "ea1c54a5.edc3e"
            ]
        ]
    },
    {
        "id": "6c4c8373.64405c",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "",
        "links": [
            "ff600.23e96a01"
        ],
        "x": 815,
        "y": 60,
        "wires": [
            [
                "d4df95f7.9da3f8",
                "9da63d74.bb371",
                "d95c7c8a.ae9a4",
                "1a4984d9.0a77c3"
            ]
        ]
    },
    {
        "id": "6027141b.14d22c",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "",
        "links": [
            "6ef7e064.b68e9",
            "4ec943b7.4e3ebc"
        ],
        "x": 815,
        "y": 300,
        "wires": [
            [
                "d1a0f985.24c358",
                "9cbc19ed.23fa88"
            ]
        ]
    },
    {
        "id": "ff600.23e96a01",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/start",
        "links": [
            "6c4c8373.64405c",
            "48e2f3b4.f60a84"
        ],
        "x": 490,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "4ec943b7.4e3ebc",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/give_us_a_check ",
        "links": [
            "6027141b.14d22c"
        ],
        "x": 530,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "c051070d.aa33f",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1395,
        "y": 60,
        "wires": []
    },
    {
        "id": "f6219c11.51b578",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "ae41901e.e309d",
        "name": "",
        "links": [
            "c051070d.aa33f",
            "c3e0f122.6fd5c",
            "c806064f.848d5",
            "232336dd.6ccd72",
            "263dc94a.f243de",
            "cf8b5a6f.e7ced8",
            "499de648.0f77f8",
            "1c25d8a3.5d140f",
            "e9cc7291.a961d",
            "8f7e455d.99f5f8",
            "bc96f608.63f2f8",
            "1408db26.d8109d"
        ],
        "x": 1515,
        "y": 280,
        "wires": [
            [
                "c6b9dcd1.7321a8"
            ]
        ]
    },
    {
        "id": "c3e0f122.6fd5c",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1395,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa3d24ef.d48ea",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/howto_photo",
        "links": [
            "59f6a64.d3772d8"
        ],
        "x": 520,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "59f6a64.d3772d8",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "name": "",
        "links": [
            "aa3d24ef.d48ea"
        ],
        "x": 815,
        "y": 660,
        "wires": [
            [
                "293866c4.6dcc52",
                "cd5778f6.dca99",
                "e01075c7.ae8108"
            ]
        ]
    },
    {
        "id": "c806064f.848d5",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1335,
        "y": 660,
        "wires": []
    },
    {
        "id": "2a4313a9.fb8e64",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "d57174ee.15bfa8",
        "name": "",
        "links": [
            "4da41694.4c2d8"
        ],
        "x": 815,
        "y": 860,
        "wires": [
            [
                "ed4d7bf7.e5635",
                "4ae274e0.46cefc"
            ]
        ]
    },
    {
        "id": "232336dd.6ccd72",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "d57174ee.15bfa8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1375,
        "y": 860,
        "wires": []
    },
    {
        "id": "4da41694.4c2d8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/my_receipts",
        "links": [
            "2a4313a9.fb8e64"
        ],
        "x": 510,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "1e972618.04434a",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "прислали картинку",
        "links": [
            "553e1d07.8dbb34",
            "f9659984.2dd8f"
        ],
        "x": 530,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "553e1d07.8dbb34",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "1e972618.04434a"
        ],
        "x": 155,
        "y": 1700,
        "wires": [
            [
                "68405a2c.30ab94",
                "74181af2.0b2134"
            ]
        ]
    },
    {
        "id": "cf8b5a6f.e7ced8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "e598b36b.07f8e8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1335,
        "y": 1180,
        "wires": []
    },
    {
        "id": "263dc94a.f243de",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1635,
        "y": 1700,
        "wires": []
    },
    {
        "id": "332252d3.ec752e",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "e598b36b.07f8e8",
        "name": "",
        "links": [
            "16697759.4fd7d9"
        ],
        "x": 815,
        "y": 1180,
        "wires": [
            [
                "26221f4d.66ee5",
                "fe3dd9f5.49c6d8"
            ]
        ]
    },
    {
        "id": "16697759.4fd7d9",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "Начать Розыгрыш",
        "links": [
            "332252d3.ec752e"
        ],
        "x": 530,
        "y": 560,
        "wires": [],
        "l": true
    },
    {
        "id": "6343b2cf.c8f88c",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "Розыгрыш, вы победили",
        "links": [
            "c8259531.4a7c6"
        ],
        "x": 550,
        "y": 600,
        "wires": [],
        "l": true
    },
    {
        "id": "c8259531.4a7c6",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "",
        "links": [
            "6343b2cf.c8f88c"
        ],
        "x": 815,
        "y": 1340,
        "wires": [
            [
                "b9f0c80f.ce8e68",
                "9be92f05.77418",
                "ef32b043.44f998",
                "51b7713a.3efc3"
            ]
        ]
    },
    {
        "id": "499de648.0f77f8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1335,
        "y": 1340,
        "wires": []
    },
    {
        "id": "792d2c3c.22bcec",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 1655,
        "y": 1880,
        "wires": []
    },
    {
        "id": "c2ec4542.36c758",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 915,
        "y": 2020,
        "wires": []
    },
    {
        "id": "532f0c02.40abe4",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 395,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f313a45f.23ab08",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "532f0c02.40abe4",
            "792d2c3c.22bcec",
            "c2ec4542.36c758",
            "363f4e9b.dd53ba",
            "bc690e99.dac428",
            "b58f1bf5.bcd3"
        ],
        "x": 1575,
        "y": 1700,
        "wires": [
            [
                "263dc94a.f243de"
            ]
        ]
    },
    {
        "id": "363f4e9b.dd53ba",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 1535,
        "y": 1760,
        "wires": []
    },
    {
        "id": "420a2877.e839c8",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "waitingType": "",
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "c051070d.aa33f"
            ]
        ]
    },
    {
        "id": "bc690e99.dac428",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 1055,
        "y": 1940,
        "wires": []
    },
    {
        "id": "361974ad.0579d4",
        "type": "chatbot-waiting",
        "z": "7e953954.fcb5d8",
        "waitingType": "",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "293866c4.6dcc52",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "name": "как фотографировать",
        "message": [
            {
                "message": "**Как фотографировать чек.** 📷\n\n✓ Чтобы наш робот узнал чек, на нем должен быть хорошо виден QR-код.\n\n✓ Чтобы изображение получилось несмазанным и четким, чек должен быть хорошо освещен.\n\n✓ Можно положить чек на ровную поверхность, это тоже уменьшит смазанность.\n\n✓ Если вы покупали алкоголь, на чеке также будет QR-код для проверки подлинности алкогольной продукции.\nОн для нас бесполезен. Не перепутайте. )"
            }
        ],
        "language": "none",
        "x": 1000,
        "y": 660,
        "wires": [
            [
                "c806064f.848d5"
            ]
        ]
    },
    {
        "id": "55f90c40.1f0734",
        "type": "comment",
        "z": "8fd4e6f5.2b5",
        "name": "TODO",
        "info": "+ Сделать пример чека.\n+ отправка тестового чека\n\n+ разделить пример чека и помощь при фотографировании\n\n+ вводная про демо-функции\n\n+ название сделать в кавычках везде\n\n+ исправить ссылку на условия конкурса\n\n+ юмор про вагон яблок убивает погружение.\n\n+ розыгрыш 21 апреля, через 32 дня.\n\n+ чек может быть слишком большим, нам нужен только qr код\n+ пример фотогорафии чека нужен кусочком, чтобы не фоткали целиком\n \n+ послать демонстрационный чек - не ясно что это такое.\n+ не понятно, что сделать с демо-чеком, может лучге сделать это за пользователя ботом.\n\n+ дата и время в сообщении - сбивают с толку, кажется что они важны\n\n+ стартовую картинку поярче и покрасивее\n+ совместить с фотографией приза. \n\n- добавить меню с условиями конкурса, иноформации о победителях, о розыгрыше\n\n+ что делать после розыгрыша\n+ возврат после розыгрыша на начальную позицию. типа кнопки старт ?\n\n+ поздравление более яркое, например стикер\n\n- иструкция по отрпавлению фотки в виде комикса. например wireframe.\n- - хелп прилаетает двумя сообщениями, из них первое я пропускаю\n\n- после получения и распознавания чека, сообщениекак-то надо поярче надо. типа молодец.\n\n- ознакомление с правилами и получение личной информации\n\n- рефакторинг - вы выйграли\n- что делать после howto?\n\n- общая клавиатура для посылки чека и розырыша (?)\n- логи приделать",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "1c6ac24f.bca4e6",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "name": "пример чека",
        "filename": "",
        "image": "/data/static/check_example.png",
        "caption": "Пример фотографии чека",
        "x": 1190,
        "y": 740,
        "wires": [
            [
                "c806064f.848d5"
            ]
        ]
    },
    {
        "id": "cd5778f6.dca99",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "waitingType": "",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "c806064f.848d5"
            ]
        ]
    },
    {
        "id": "e01075c7.ae8108",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "3a1b88f8.2b19a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 740,
        "wires": [
            [
                "1c6ac24f.bca4e6"
            ]
        ]
    },
    {
        "id": "c6b9dcd1.7321a8",
        "type": "chatbot-params",
        "z": "8fd4e6f5.2b5",
        "g": "ae41901e.e309d",
        "name": "",
        "params": [],
        "outputs": 1,
        "x": 1620,
        "y": 280,
        "wires": [
            [
                "cda83f81.eb5fd8"
            ]
        ]
    },
    {
        "id": "ae4b78b5.30fea8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "Послать демонстрационный чек",
        "links": [
            "d7a9808.2ff5a"
        ],
        "x": 580,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "4befa605.164d7",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "509bccba.e54e4c",
        "name": "Демо чек",
        "filename": "",
        "image": "/data/static/demo_check.jpg",
        "caption": "Демонстрационный чек, как будто вы его нам послали.",
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "bc96f608.63f2f8",
                "df56a5fe.0817a"
            ]
        ]
    },
    {
        "id": "bc96f608.63f2f8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "509bccba.e54e4c",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1255,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d7a9808.2ff5a",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "509bccba.e54e4c",
        "name": "",
        "links": [
            "ae4b78b5.30fea8"
        ],
        "x": 815,
        "y": 1020,
        "wires": [
            [
                "4befa605.164d7"
            ]
        ]
    },
    {
        "id": "fe36d899.4cea7",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/terms",
        "links": [
            "f3c2b4bc.c5e8b"
        ],
        "x": 490,
        "y": 440,
        "wires": [],
        "l": true
    },
    {
        "id": "f3c2b4bc.c5e8b",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "92ab3390.fc31c8",
        "name": "",
        "links": [
            "fe36d899.4cea7"
        ],
        "x": 815,
        "y": 1540,
        "wires": [
            [
                "b0fbc808.d6a898",
                "e202c5df.22bf8"
            ]
        ]
    },
    {
        "id": "b0fbc808.d6a898",
        "type": "chatbot-document",
        "z": "8fd4e6f5.2b5",
        "g": "92ab3390.fc31c8",
        "name": "условия конкурса",
        "filename": "",
        "document": "/data/static/условия конкурса.pdf",
        "caption": "Условия конкурса",
        "x": 1010,
        "y": 1540,
        "wires": [
            [
                "e9cc7291.a961d"
            ]
        ]
    },
    {
        "id": "e9cc7291.a961d",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "92ab3390.fc31c8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1335,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e202c5df.22bf8",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "92ab3390.fc31c8",
        "waitingType": "",
        "x": 980,
        "y": 1580,
        "wires": [
            [
                "e9cc7291.a961d"
            ]
        ]
    },
    {
        "id": "c6e629d5.115298",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "name": "/check_example",
        "links": [
            "4db21630.ad39c"
        ],
        "x": 520,
        "y": 280,
        "wires": [],
        "l": true
    },
    {
        "id": "4db21630.ad39c",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "23898736.a067d8",
        "name": "",
        "links": [
            "c6e629d5.115298"
        ],
        "x": 815,
        "y": 500,
        "wires": [
            [
                "44af6ed6.0317c8",
                "99d2954c.9485b"
            ]
        ]
    },
    {
        "id": "8f7e455d.99f5f8",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "23898736.a067d8",
        "name": "",
        "links": [
            "f6219c11.51b578"
        ],
        "x": 1335,
        "y": 500,
        "wires": []
    },
    {
        "id": "99d2954c.9485b",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "23898736.a067d8",
        "name": "пример чека",
        "filename": "",
        "image": "/data/static/check_example.png",
        "caption": "Пример фотографии чека",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "8f7e455d.99f5f8"
            ]
        ]
    },
    {
        "id": "44af6ed6.0317c8",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "23898736.a067d8",
        "waitingType": "",
        "x": 960,
        "y": 540,
        "wires": [
            [
                "8f7e455d.99f5f8"
            ]
        ]
    },
    {
        "id": "9cbc19ed.23fa88",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "caee6813.c407b8"
            ]
        ]
    },
    {
        "id": "98d55889.7babd",
        "type": "chatbot-message",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "\"пошлите демонстрационный чек\"",
        "message": [
            {
                "message": "```⚙ Это демо-бот.\n\nПоэтому, если у вас нет подходящего чека, вы можете отправить наш, заренее заготовленный, демонстрационный чек.\n\nДля этого нажмите\n\"⚙ Послать демонстрационный чек\".```"
            }
        ],
        "language": "none",
        "x": 1260,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "caee6813.c407b8",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "e3c4aa60.8d38b8",
        "name": "\"пошлите демонстрационный чек",
        "filename": "",
        "image": "/data/static/demo_send_check.png",
        "caption": "",
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "c3e0f122.6fd5c"
            ]
        ]
    },
    {
        "id": "df56a5fe.0817a",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "509bccba.e54e4c",
        "name": "",
        "links": [
            "2e4cbf44.38eef8"
        ],
        "x": 1255,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2e4cbf44.38eef8",
        "type": "link in",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "df56a5fe.0817a"
        ],
        "x": 155,
        "y": 1860,
        "wires": [
            [
                "b714c59e.da4518",
                "2b47727a.5e3626"
            ]
        ]
    },
    {
        "id": "c55bb023.fa816",
        "type": "jimp-image",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "demo check",
        "data": "/data/static/demo_check.jpg",
        "dataType": "str",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 450,
        "y": 1860,
        "wires": [
            [
                "dcfab70f.dd0e1"
            ]
        ]
    },
    {
        "id": "b714c59e.da4518",
        "type": "chatbot-waiting",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "waitingType": "",
        "x": 280,
        "y": 1920,
        "wires": [
            [
                "b58f1bf5.bcd3"
            ]
        ]
    },
    {
        "id": "2b47727a.5e3626",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 290,
        "y": 1860,
        "wires": [
            [
                "c55bb023.fa816"
            ]
        ]
    },
    {
        "id": "b58f1bf5.bcd3",
        "type": "link out",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "links": [
            "f313a45f.23ab08"
        ],
        "x": 395,
        "y": 1920,
        "wires": []
    },
    {
        "id": "2b39295.663f7d6",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "\"можете сымитировать розыгрыш\"",
        "filename": "",
        "image": "/data/static/demo_prize_drawing.png",
        "caption": "",
        "x": 1530,
        "y": 1980,
        "wires": [
            [
                "792d2c3c.22bcec"
            ]
        ]
    },
    {
        "id": "45bdd1f0.0d3ba",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1250,
        "y": 1980,
        "wires": [
            [
                "2b39295.663f7d6"
            ]
        ]
    },
    {
        "id": "f4f0bb5a.f44ef",
        "type": "comment",
        "z": "8fd4e6f5.2b5",
        "g": "98da4fcd.e649b8",
        "name": "",
        "info": "Могут быть использованны данные о чеке из контекста.\n{{check.day}} {{check.month}} {{check.year}} {{check.hour}}:{{check.minute}}.",
        "x": 1390,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ef32b043.44f998",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "55bbb77d.44be48"
            ]
        ]
    },
    {
        "id": "55bbb77d.44be48",
        "type": "chatbot-video",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "\"поздравляем!\"",
        "filename": "",
        "video": "/data/static/win.mp4",
        "caption": "",
        "x": 1180,
        "y": 1380,
        "wires": [
            [
                "499de648.0f77f8"
            ]
        ]
    },
    {
        "id": "a1a1255e.4dd4e",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "e598b36b.07f8e8",
        "name": "\"админка /start\"",
        "filename": "",
        "image": "/data/static/demo_start.png",
        "caption": "",
        "x": 1180,
        "y": 1220,
        "wires": [
            [
                "cf8b5a6f.e7ced8"
            ]
        ]
    },
    {
        "id": "fe3dd9f5.49c6d8",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "e598b36b.07f8e8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 990,
        "y": 1220,
        "wires": [
            [
                "a1a1255e.4dd4e"
            ]
        ]
    },
    {
        "id": "59e1e40c.c74c64",
        "type": "chatbot-image",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "\"админка /start\"",
        "filename": "",
        "image": "/data/static/demo_start.png",
        "caption": "",
        "x": 1180,
        "y": 1460,
        "wires": [
            [
                "499de648.0f77f8"
            ]
        ]
    },
    {
        "id": "51b7713a.3efc3",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "a8d60a11.ad5dd",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1000,
        "y": 1460,
        "wires": [
            [
                "59e1e40c.c74c64"
            ]
        ]
    },
    {
        "id": "6ef90e60.2c5288",
        "type": "function",
        "z": "8fd4e6f5.2b5",
        "name": "zero keyboard",
        "func": "msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n  ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9da63d74.bb371",
        "type": "chatbot-ask",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "очистка клиавиатуры",
        "buttons": [],
        "message": "Привет!",
        "x": 1020,
        "y": 60,
        "wires": [
            [
                "c051070d.aa33f"
            ]
        ]
    },
    {
        "id": "d95c7c8a.ae9a4",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "77e2ce.f1ad4d34"
            ]
        ]
    },
    {
        "id": "1a4984d9.0a77c3",
        "type": "delay",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "",
        "pauseType": "delay",
        "timeout": "150",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "420a2877.e839c8"
            ]
        ]
    },
    {
        "id": "a14ba75e.2b2448",
        "type": "chatbot-inline-buttons",
        "z": "8fd4e6f5.2b5",
        "g": "660ea558.f2d464",
        "name": "привествие",
        "buttons": [
            {
                "type": "postback",
                "label": "Послать чек",
                "value": "/give_us_a_check",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "🎁 Ближайший розыгрыш - через 3 дня, 21 апреля.\n🍍 Ваш приз - один из 3 ящиков ананасов!\n\nПодробнее о правилах конкурса: /terms\n\nЧтобы участовать в розыгрыше,\nпришлите 🧾 чек, в котором есть продукты «Тотальная Деревня».\n",
        "x": 1170,
        "y": 200,
        "wires": [
            [
                "c051070d.aa33f"
            ]
        ]
    }
]