node-red-deploy-example/node-red/flows.json
[{"id":"2077e8ee.f3b328","type":"tab","label":"Поток 1","disabled":false,"info":""},{"id":"c8291d3.ad832e","type":"subflow","name":"QR декодер","info":"","category":"","in":[{"x":20,"y":240,"wires":[{"id":"ddb09871.3d116"},{"id":"2cbdb6bd.ff8942"}]}],"out":[{"x":1080,"y":240,"wires":[{"id":"f8738091.a97758","port":0}]},{"x":1080,"y":360,"wires":[{"id":"b229d4ef.393f9","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7e953954.fcb5d8","type":"subflow","name":"wait 3s + шлите еще чеки","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"289e7379.c67234"},{"id":"361974ad.0579d4"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"1605efdb.8d836","port":0},{"id":"361974ad.0579d4","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"23898736.a067d8","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["4db21630.ad39c","8f7e455d.99f5f8","99d2954c.9485b","44af6ed6.0317c8"],"x":1094,"y":979,"w":602,"h":122},{"id":"3a1b88f8.2b19a8","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["59f6a64.d3772d8","c806064f.848d5","293866c4.6dcc52","1c6ac24f.bca4e6","cd5778f6.dca99","e01075c7.ae8108"],"x":1094,"y":1139,"w":602,"h":162},{"id":"509bccba.e54e4c","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d7a9808.2ff5a","4befa605.164d7","bc96f608.63f2f8","df56a5fe.0817a"],"x":1094,"y":1499,"w":522,"h":122},{"id":"660ea558.f2d464","type":"group","z":"2077e8ee.f3b328","name":"","style":{"stroke":"#d1d1d1","label":true},"nodes":["77e2ce.f1ad4d34","d4df95f7.9da3f8","6c4c8373.64405c","c051070d.aa33f","420a2877.e839c8","d95c7c8a.ae9a4","1a4984d9.0a77c3","9da63d74.bb371","a14ba75e.2b2448"],"x":1094,"y":539,"w":662,"h":222},{"id":"810e4002.83817","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["834d4707.618ca8","656565e8.ff22fc","ddf9c0f4.55212","695ec32.1cc2d3c","6c7df86c.f2b7d8","15195803.49bfd8","54714539.df96ac","8a6c52bf.665bd","3102b66d.d780ca","c952bd7c.98526","574cd41b.b418fc"],"x":294,"y":79,"w":1152,"h":322},{"id":"92ab3390.fc31c8","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["f3c2b4bc.c5e8b","b0fbc808.d6a898","e9cc7291.a961d","e202c5df.22bf8"],"x":1094,"y":2019,"w":602,"h":122},{"id":"98da4fcd.e649b8","type":"group","z":"2077e8ee.f3b328","name":"получили от пользователя фотографию чека","style":{"stroke":"#d1d1d1","label":true},"nodes":["f7f28b36.fcd4f","e5fd921d.7769a8","e90d4f4c.f5da","929ffdae.426808","6bd5a293.f917b4","182a2a14.53a086","dcfab70f.dd0e1","74181af2.0b2134","68405a2c.30ab94","480b4eab.564a08","271823ed.36c154","91b8321e.9a1d8","ea1c54a5.edc3e","6a95dc16.b39c04","553e1d07.8dbb34","263dc94a.f243de","792d2c3c.22bcec","c2ec4542.36c758","532f0c02.40abe4","f313a45f.23ab08","363f4e9b.dd53ba","bc690e99.dac428","2e4cbf44.38eef8","c55bb023.fa816","b714c59e.da4518","2b47727a.5e3626","b58f1bf5.bcd3","2b39295.663f7d6","45bdd1f0.0d3ba","f4f0bb5a.f44ef"],"x":434,"y":2179,"w":1592,"h":402},{"id":"a8d60a11.ad5dd","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["6a99256f.88e1a4","9be92f05.77418","b9f0c80f.ce8e68","c8259531.4a7c6","499de648.0f77f8","ef32b043.44f998","55bbb77d.44be48","51b7713a.3efc3","59e1e40c.c74c64"],"x":1094,"y":1819,"w":602,"h":202},{"id":"ae41901e.e309d","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["cda83f81.eb5fd8","f6219c11.51b578","c6b9dcd1.7321a8"],"x":1794,"y":759,"w":292,"h":142},{"id":"d57174ee.15bfa8","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["ed4d7bf7.e5635","4ae274e0.46cefc","2a4313a9.fb8e64","232336dd.6ccd72"],"x":1094,"y":1339,"w":642,"h":122},{"id":"ddf3fbd1.c87b98","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6d0a2d80.08ba54","505816ff.73d0f8","970a567d.9a6c48","ca9e4fdd.8a529","1030e25d.dc8b0e","6979bb03.b46e04","908c9e28.66865","9c59bcdd.60454","ecabee36.00996","9e928b3f.6e9d98","90852058.1fdfc","6f2b4192.73313","fef0ea81.a96288"],"x":1554,"y":119,"w":1442,"h":222},{"id":"e3c4aa60.8d38b8","type":"group","z":"2077e8ee.f3b328","name":"","style":{"stroke":"#d1d1d1","label":true},"nodes":["d1a0f985.24c358","6027141b.14d22c","c3e0f122.6fd5c","9cbc19ed.23fa88","caee6813.c407b8","98d55889.7babd"],"x":1094,"y":779,"w":662,"h":162},{"id":"e598b36b.07f8e8","type":"group","z":"2077e8ee.f3b328","style":{"stroke":"#d1d1d1","label":true},"nodes":["332252d3.ec752e","26221f4d.66ee5","cf8b5a6f.e7ced8","fe3dd9f5.49c6d8","a1a1255e.4dd4e"],"x":1094,"y":1659,"w":602,"h":122},{"id":"20f778b0.3b0388","type":"chatbot-telegram-node","botname":"${TG_BOT_NAME}","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"d91aa191.85592","type":"chatbot-telegram-receive","z":"2077e8ee.f3b328","bot":"20f778b0.3b0388","botProduction":"","x":447.99999237060547,"y":792.999997138977,"wires":[["c9f6a457.f1d83"]]},{"id":"c9f6a457.f1d83","type":"chatbot-rules","z":"2077e8ee.f3b328","name":"","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/give_us_a_check"},{"type":"command","command":"/check_example"},{"type":"command","command":"/howto_photo"},{"type":"messageType","messageType":"photo"},{"type":"command","command":"/my_receipts"},{"type":"command","command":"/terms"},{"type":"command","command":"/weather"},{"type":"catchAll"}],"outputs":9,"x":607.9999923706055,"y":792.999997138977,"wires":[["ff600.23e96a01"],["4ec943b7.4e3ebc"],["c6e629d5.115298"],["aa3d24ef.d48ea"],["1e972618.04434a"],["4da41694.4c2d8"],["fe36d899.4cea7"],["56ae9a45.79d654"],["b80807df.9ac2c8"]]},{"id":"ff52bc66.f63a18","type":"function","z":"2077e8ee.f3b328","name":"добавить кливиатуру  Послать чек","func":"msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n    {type: 'keyboardButton', label: 'Послать чек'}\n  ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2080,"y":580,"wires":[[]]},{"id":"b80807df.9ac2c8","type":"switch","z":"2077e8ee.f3b328","name":"сообщения от админки","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"Послать демонстрационный чек","vt":"str"},{"t":"cont","v":"Розыгрыш, победил кто-то ещё","vt":"str"},{"t":"cont","v":"Розыгрыш, вы победили","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":610,"y":1080,"wires":[["ae4b78b5.30fea8"],["16697759.4fd7d9"],["6343b2cf.c8f88c"]]},{"id":"ff600.23e96a01","type":"link out","z":"2077e8ee.f3b328","name":"/start","links":["545dc15f.d6e2e","6c4c8373.64405c"],"x":810,"y":720,"wires":[],"l":true},{"id":"4ec943b7.4e3ebc","type":"link out","z":"2077e8ee.f3b328","name":"/give_us_a_check ","links":["6027141b.14d22c"],"x":850,"y":760,"wires":[],"l":true},{"id":"aa3d24ef.d48ea","type":"link out","z":"2077e8ee.f3b328","name":"/howto_photo","links":["59f6a64.d3772d8"],"x":840,"y":840,"wires":[],"l":true},{"id":"4da41694.4c2d8","type":"link out","z":"2077e8ee.f3b328","name":"/my_receipts","links":["2a4313a9.fb8e64"],"x":830,"y":920,"wires":[],"l":true},{"id":"1e972618.04434a","type":"link out","z":"2077e8ee.f3b328","name":"прислали картинку","links":["553e1d07.8dbb34","f9659984.2dd8f"],"x":850,"y":880,"wires":[],"l":true},{"id":"16697759.4fd7d9","type":"link out","z":"2077e8ee.f3b328","name":"Начать Розыгрыш","links":["332252d3.ec752e"],"x":850,"y":1080,"wires":[],"l":true},{"id":"6343b2cf.c8f88c","type":"link out","z":"2077e8ee.f3b328","name":"Розыгрыш, вы победили","links":["c8259531.4a7c6"],"x":870,"y":1120,"wires":[],"l":true},{"id":"55f90c40.1f0734","type":"comment","z":"2077e8ee.f3b328","name":"TODO","info":"+ Сделать пример чека.\n+ отправка тестового чека\n\n+ разделить пример чека и помощь при фотографировании\n\n+ вводная про демо-функции\n\n+ название сделать в кавычках везде\n\n+ исправить ссылку на условия конкурса\n\n+ юмор про вагон яблок убивает погружение.\n\n+ розыгрыш 21 апреля, через 32 дня.\n\n+ чек может быть слишком большим, нам нужен только qr код\n+ пример фотогорафии чека нужен кусочком, чтобы не фоткали целиком\n \n+ послать демонстрационный чек - не ясно что это такое.\n+ не понятно, что сделать с демо-чеком, может лучге сделать это за пользователя ботом.\n\n+ дата и время в сообщении - сбивают с толку, кажется что они важны\n\n+ стартовую картинку поярче и покрасивее\n+ совместить с фотографией приза. \n\n- добавить меню с условиями конкурса, иноформации о победителях, о розыгрыше\n\n+ что делать после розыгрыша\n+ возврат после розыгрыша на начальную позицию. типа кнопки старт ?\n\n+ поздравление более яркое, например стикер\n\n- иструкция по отрпавлению фотки в виде комикса. например wireframe.\n- - хелп прилаетает двумя сообщениями, из них первое я пропускаю\n\n- после получения и распознавания чека, сообщениекак-то надо поярче надо. типа молодец.\n\n- ознакомление с правилами и получение личной информации\n\n- рефакторинг - вы выйграли\n- что делать после howto?\n\n- общая клавиатура для посылки чека и розырыша (?)\n- логи приделать","x":810,"y":600,"wires":[]},{"id":"ae4b78b5.30fea8","type":"link out","z":"2077e8ee.f3b328","name":"Послать демонстрационный чек","links":["d7a9808.2ff5a"],"x":900,"y":1040,"wires":[],"l":true},{"id":"fe36d899.4cea7","type":"link out","z":"2077e8ee.f3b328","name":"/terms","links":["f3c2b4bc.c5e8b"],"x":810,"y":960,"wires":[],"l":true},{"id":"c6e629d5.115298","type":"link out","z":"2077e8ee.f3b328","name":"/check_example","links":["4db21630.ad39c"],"x":840,"y":800,"wires":[],"l":true},{"id":"6ef90e60.2c5288","type":"function","z":"2077e8ee.f3b328","name":"zero keyboard","func":"msg.payload.type = \"buttons\"\nmsg.payload.buttons = [\n  ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1940,"y":640,"wires":[[]]},{"id":"56ae9a45.79d654","type":"link out","z":"2077e8ee.f3b328","name":"/weather","links":["6d0a2d80.08ba54"],"x":817.9999923706055,"y":672.999997138977,"wires":[],"l":true},{"id":"4db21630.ad39c","type":"link in","z":"2077e8ee.f3b328","g":"23898736.a067d8","name":"","links":["c6e629d5.115298"],"x":1135,"y":1020,"wires":[["44af6ed6.0317c8","99d2954c.9485b"]]},{"id":"8f7e455d.99f5f8","type":"link out","z":"2077e8ee.f3b328","g":"23898736.a067d8","name":"","links":["f6219c11.51b578"],"x":1655,"y":1020,"wires":[]},{"id":"99d2954c.9485b","type":"chatbot-image","z":"2077e8ee.f3b328","g":"23898736.a067d8","name":"пример чека","filename":"","image":"/data/static/check_example.png","caption":"Пример фотографии чека","x":1290,"y":1020,"wires":[["8f7e455d.99f5f8"]]},{"id":"44af6ed6.0317c8","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"23898736.a067d8","waitingType":"","x":1280,"y":1060,"wires":[["8f7e455d.99f5f8"]]},{"id":"59f6a64.d3772d8","type":"link in","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","name":"","links":["aa3d24ef.d48ea"],"x":1135,"y":1180,"wires":[["293866c4.6dcc52","cd5778f6.dca99","e01075c7.ae8108"]]},{"id":"c806064f.848d5","type":"link out","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","name":"","links":["f6219c11.51b578"],"x":1655,"y":1180,"wires":[]},{"id":"293866c4.6dcc52","type":"chatbot-message","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","name":"как фотографировать","message":[{"message":"**Как фотографировать чек.** 📷\n\n✓ Чтобы наш робот узнал чек, на нем должен быть хорошо виден QR-код.\n\n✓ Чтобы изображение получилось несмазанным и четким, чек должен быть хорошо освещен.\n\n✓ Можно положить чек на ровную поверхность, это тоже уменьшит смазанность.\n\n✓ Если вы покупали алкоголь, на чеке также будет QR-код для проверки подлинности алкогольной продукции.\nОн для нас бесполезен. Не перепутайте. )"}],"language":"none","x":1320,"y":1180,"wires":[["c806064f.848d5"]]},{"id":"1c6ac24f.bca4e6","type":"chatbot-image","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","name":"пример чека","filename":"","image":"/data/static/check_example.png","caption":"Пример фотографии чека","x":1510,"y":1260,"wires":[["c806064f.848d5"]]},{"id":"cd5778f6.dca99","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","waitingType":"","x":1280,"y":1220,"wires":[["c806064f.848d5"]]},{"id":"e01075c7.ae8108","type":"delay","z":"2077e8ee.f3b328","g":"3a1b88f8.2b19a8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1260,"wires":[["1c6ac24f.bca4e6"]]},{"id":"d7a9808.2ff5a","type":"link in","z":"2077e8ee.f3b328","g":"509bccba.e54e4c","name":"","links":["ae4b78b5.30fea8"],"x":1135,"y":1540,"wires":[["4befa605.164d7"]]},{"id":"4befa605.164d7","type":"chatbot-image","z":"2077e8ee.f3b328","g":"509bccba.e54e4c","name":"Демо чек","filename":"","image":"/data/static/demo_check.jpg","caption":"Демонстрационный чек, как будто вы его нам послали.","x":1260,"y":1540,"wires":[["bc96f608.63f2f8","df56a5fe.0817a"]]},{"id":"bc96f608.63f2f8","type":"link out","z":"2077e8ee.f3b328","g":"509bccba.e54e4c","name":"","links":["f6219c11.51b578"],"x":1575,"y":1540,"wires":[]},{"id":"df56a5fe.0817a","type":"link out","z":"2077e8ee.f3b328","g":"509bccba.e54e4c","name":"","links":["2e4cbf44.38eef8"],"x":1575,"y":1580,"wires":[]},{"id":"77e2ce.f1ad4d34","type":"chatbot-image","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"заставка","filename":"","image":"/data/static/splash.png","caption":"","x":1500,"y":620,"wires":[["c051070d.aa33f"]]},{"id":"d4df95f7.9da3f8","type":"delay","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":720,"wires":[["a14ba75e.2b2448"]]},{"id":"6c4c8373.64405c","type":"link in","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"","links":["ff600.23e96a01"],"x":1135,"y":580,"wires":[["d4df95f7.9da3f8","9da63d74.bb371","d95c7c8a.ae9a4","1a4984d9.0a77c3"]]},{"id":"c051070d.aa33f","type":"link out","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"","links":["f6219c11.51b578"],"x":1715,"y":580,"wires":[]},{"id":"420a2877.e839c8","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"660ea558.f2d464","waitingType":"","x":1500,"y":660,"wires":[["c051070d.aa33f"]]},{"id":"d95c7c8a.ae9a4","type":"delay","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1330,"y":620,"wires":[["77e2ce.f1ad4d34"]]},{"id":"1a4984d9.0a77c3","type":"delay","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1330,"y":660,"wires":[["420a2877.e839c8"]]},{"id":"9da63d74.bb371","type":"chatbot-ask","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"очистка клиавиатуры","buttons":[],"message":"Привет!","x":1340,"y":580,"wires":[["c051070d.aa33f"]]},{"id":"a14ba75e.2b2448","type":"chatbot-inline-buttons","z":"2077e8ee.f3b328","g":"660ea558.f2d464","name":"привествие","buttons":[{"type":"postback","label":"Послать чек","value":"/give_us_a_check","answer":"","alert":false,"style":""}],"message":"🎁 Ближайший розыгрыш - через 3 дня, 21 апреля.\n🍍 Ваш приз - один из 3 ящиков ананасов!\n\nПодробнее о правилах конкурса: /terms\n\nЧтобы участовать в розыгрыше,\nпришлите 🧾 чек, в котором есть продукты «Тотальная Деревня».\n","x":1490,"y":720,"wires":[["c051070d.aa33f"]]},{"id":"834d4707.618ca8","type":"http in","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","url":"/api/send","method":"get","upload":false,"swaggerDoc":"","x":390,"y":280,"wires":[["15195803.49bfd8","3102b66d.d780ca"]]},{"id":"656565e8.ff22fc","type":"http request","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot{{tg_token}}/sendMessage?chat_id={{chat_id}}&text={{{text}}}","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":220,"wires":[["8a6c52bf.665bd"]]},{"id":"ddf9c0f4.55212","type":"change","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"chat_id","pt":"msg","to":"req.query.chat_id","tot":"msg"},{"t":"set","p":"tg_token","pt":"msg","to":"TG_TOKEN","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["695ec32.1cc2d3c"]]},{"id":"695ec32.1cc2d3c","type":"function","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","func":"msg.text = encodeURI(msg.text);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":220,"wires":[["656565e8.ff22fc"]]},{"id":"6c7df86c.f2b7d8","type":"comment","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"Send message to telegram","info":"","x":430,"y":120,"wires":[]},{"id":"15195803.49bfd8","type":"link out","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","links":["54714539.df96ac"],"x":555,"y":220,"wires":[]},{"id":"54714539.df96ac","type":"link in","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","links":["15195803.49bfd8"],"x":635,"y":220,"wires":[["ddf9c0f4.55212"]]},{"id":"8a6c52bf.665bd","type":"change","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":220,"wires":[[]]},{"id":"3102b66d.d780ca","type":"change","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["c952bd7c.98526"]]},{"id":"c952bd7c.98526","type":"template","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"success\": {{ payload.ok }}}\n","output":"json","x":830,"y":360,"wires":[["574cd41b.b418fc"]]},{"id":"574cd41b.b418fc","type":"http response","z":"2077e8ee.f3b328","g":"810e4002.83817","name":"","x":970,"y":360,"wires":[]},{"id":"f3c2b4bc.c5e8b","type":"link in","z":"2077e8ee.f3b328","g":"92ab3390.fc31c8","name":"","links":["fe36d899.4cea7"],"x":1135,"y":2060,"wires":[["b0fbc808.d6a898","e202c5df.22bf8"]]},{"id":"b0fbc808.d6a898","type":"chatbot-document","z":"2077e8ee.f3b328","g":"92ab3390.fc31c8","name":"условия конкурса","filename":"","document":"/data/static/условия конкурса.pdf","caption":"Условия конкурса","x":1330,"y":2060,"wires":[["e9cc7291.a961d"]]},{"id":"e9cc7291.a961d","type":"link out","z":"2077e8ee.f3b328","g":"92ab3390.fc31c8","name":"","links":["f6219c11.51b578"],"x":1655,"y":2060,"wires":[]},{"id":"e202c5df.22bf8","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"92ab3390.fc31c8","waitingType":"","x":1300,"y":2100,"wires":[["e9cc7291.a961d"]]},{"id":"f8738091.a97758","type":"Barcode Decoder","z":"c8291d3.ad832e","name":"QR декодирование","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":640,"y":240,"wires":[[]]},{"id":"d74272f9.dbbeb8","type":"status","z":"c8291d3.ad832e","name":"QR код не распознан","scope":["f8738091.a97758"],"x":220,"y":440,"wires":[["9e16c5d2.009f9"]]},{"id":"9e16c5d2.009f9","type":"switch","z":"c8291d3.ad832e","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"Not found","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":440,"wires":[["8c6f6a03.7c57e"]]},{"id":"2cbdb6bd.ff8942","type":"change","z":"c8291d3.ad832e","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":360,"wires":[["b229d4ef.393f9"]]},{"id":"8c6f6a03.7c57e","type":"change","z":"c8291d3.ad832e","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["b229d4ef.393f9"]]},{"id":"b229d4ef.393f9","type":"function","z":"c8291d3.ad832e","name":"отправляем сообщение, если пришло msg.complete","func":"if( msg.reset )\n{\n    context.set('msg_old', msg)\n}\n\nif( msg.complete )\n{\n    msg_old = context.get('msg_old')\n    return msg_old\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":360,"wires":[[]]},{"id":"ddb09871.3d116","type":"jimp-image","z":"c8291d3.ad832e","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"greyscale","selectedJimpFunction":{"name":"greyscale","fn":"greyscale","description":"remove colour from the image","parameters":[]},"x":200,"y":240,"wires":[["3ff814d.ebbb8ec"]]},{"id":"3ff814d.ebbb8ec","type":"jimp-image","z":"c8291d3.ad832e","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":400,"y":240,"wires":[["f8738091.a97758"]]},{"id":"289e7379.c67234","type":"delay","z":"7e953954.fcb5d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":120,"wires":[["1605efdb.8d836"]]},{"id":"1605efdb.8d836","type":"chatbot-inline-buttons","z":"7e953954.fcb5d8","name":"шлите еще чеки","buttons":[{"type":"postback","label":"Послать чек","value":"/give_us_a_check ","answer":"","alert":false,"style":""}],"message":"Чем больше продуктов Тотальная Деревня вы покупаете,\nтем больше у вас шансов выйграть приз.\n\nЖдем ещё чеки.","x":430,"y":120,"wires":[[]]},{"id":"361974ad.0579d4","type":"chatbot-waiting","z":"7e953954.fcb5d8","waitingType":"","x":200,"y":80,"wires":[[]]},{"id":"f7f28b36.fcd4f","type":"delay","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":2340,"wires":[["929ffdae.426808"]]},{"id":"e5fd921d.7769a8","type":"subflow:7e953954.fcb5d8","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","env":[],"x":1620,"y":2440,"wires":[["792d2c3c.22bcec"]]},{"id":"e90d4f4c.f5da","type":"chatbot-message","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"QR не распознан Try again","message":[{"message":"😞 Нашему роботу не удалось увидеть QR-код на чеке. \n\n📷 Попробуйте сфотографировать чек еще раз.\n\nЛучше всего получается, если:\n- QR код виден целиком\n- чек хорошо освещен\n- изображение не смазанное\n\nПодробнее о том, как фотографировать чек, с примером: /howto_photo\n\n📎 Отправьте сюда фотографию чека. "}],"language":"none","x":1060,"y":2540,"wires":[["c2ec4542.36c758"]]},{"id":"929ffdae.426808","type":"function","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"random","func":"const min = 0\nconst max = 1;\n\nrnd = Math.floor(Math.random() * (max - min + 1)) + min;\n\nif( rnd == 0)\n    return [msg, null];\n\nif( rnd == 1)\n    return [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1380,"y":2340,"wires":[["6bd5a293.f917b4"],["e5fd921d.7769a8","182a2a14.53a086","45bdd1f0.0d3ba"]]},{"id":"6bd5a293.f917b4","type":"chatbot-inline-buttons","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"нет нужных продуктов","buttons":[{"type":"postback","label":"Послать чек","value":"/give_us_a_check ","answer":"","alert":false,"style":""}],"message":"☹️ Похоже, в этом чеке нет нужных продуктов.\n\nВ акции учавствует только продукция «Тотальная деревня».\n\nЖдем новых чеков.","x":1610,"y":2340,"wires":[["792d2c3c.22bcec"]]},{"id":"182a2a14.53a086","type":"chatbot-ask","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"Чек принят +  Админка розыгрыша","buttons":[{"type":"keyboardButton","label":"Розыгрыш, вы победили"},{"type":"keyboardButton","label":"Розыгрыш, победил кто-то ещё"}],"message":"👍 Мы проверили ваш чек от 21 января 2021\nи нашли 2 продукта от «Тотальной Деревни».\n\nТеперь 4 продукта учавствуют в розыгрыше трех ящиков ананасов.\nРозыгрышь произойдет 21 апреля, через 3 дня.\nМы напишем вам о результатах.\n\nПодробнее о всех ваших чеках: /my_receipts","x":1640,"y":2400,"wires":[["792d2c3c.22bcec"]]},{"id":"dcfab70f.dd0e1","type":"subflow:c8291d3.ad832e","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","env":[],"x":790,"y":2280,"wires":[["480b4eab.564a08"],["e90d4f4c.f5da"]]},{"id":"74181af2.0b2134","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","waitingType":"","x":600,"y":2220,"wires":[["532f0c02.40abe4"]]},{"id":"68405a2c.30ab94","type":"chatbot-parse","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"parse image","parseType":"photo","parseVariable":"string","x":610,"y":2280,"wires":[["dcfab70f.dd0e1"],[]]},{"id":"480b4eab.564a08","type":"function","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"парсер чека","func":"var  s = String(msg.payload);\n\nmsg.payload = {}\nvar result;\n\nresult = s.match(/(?:^|&)t=(\\d\\d\\d\\d)(\\d\\d)(\\d\\d)T(\\d\\d)(\\d\\d)\\d?\\d?(?:$|&)/);\nif( result ){\n    msg.payload.date = new Date( result[1], result[2]-1, result[3], result[4], result[5] );\n} else\n    return [null, msg];\n\nresult = s.match(/(?:^|&)s=([\\d\\.]*)(?:$|&)/);\nif( result ){\n    msg.payload.price = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)fn=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fn = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)fp=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fp = result[1]\n} else \n    return [null, msg];\n\nresult = s.match(/(?:^|&)i=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.fd = result[1]\n} else \n    return [null, msg];\n    \nresult = s.match(/(?:^|&)n=(\\d*)(?:$|&)/);\nif( result ){\n    msg.payload.n = result[1]\n} else \n    return [null, msg];\n\nreturn [msg, null]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":2280,"wires":[["6a95dc16.b39c04","f7f28b36.fcd4f"],["271823ed.36c154"]]},{"id":"271823ed.36c154","type":"chatbot-message","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"плохой QR-код TODO: fix","message":[{"message":"Похоже, это неравильный QR код.\nПопробуйте сфотографировать другой."}],"language":"none","x":1210,"y":2460,"wires":[["bc690e99.dac428"]]},{"id":"91b8321e.9a1d8","type":"chatbot-message","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"QR распознан","message":[{"message":" Спасибо!\n\n✅ Мы получили ваш чек,\nвы участвуете в розыгрыше!\n\nНа всякий случай, наш модератор проверяет ваш чек…\nМы напишем, если вдруг что-то пойдет не так."}],"language":"none","x":1720,"y":2280,"wires":[["363f4e9b.dd53ba"]]},{"id":"ea1c54a5.edc3e","type":"function","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"сохраняем чек в контекст","func":"const chat = msg.chat();\nPromise.resolve(chat.set({\n  check: msg.payload\n})).then(() => node.send(msg));\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":2280,"wires":[["91b8321e.9a1d8"]]},{"id":"6a95dc16.b39c04","type":"function","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"date to human strings","func":"var monthA = 'января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,ноября,декабря'.split(',');\n\nmsg.payload.year =  msg.payload.date.getFullYear()\nmsg.payload.month =  monthA[msg.payload.date.getMonth()]\nmsg.payload.day =  msg.payload.date.getDate()\nmsg.payload.hour =  msg.payload.date.getHours()\nmsg.payload.minute =  msg.payload.date.getMinutes()\nmsg.payload.seconds =  msg.payload.date.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":2280,"wires":[["ea1c54a5.edc3e"]]},{"id":"553e1d07.8dbb34","type":"link in","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["1e972618.04434a"],"x":475,"y":2220,"wires":[["68405a2c.30ab94","74181af2.0b2134"]]},{"id":"263dc94a.f243de","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f6219c11.51b578"],"x":1955,"y":2220,"wires":[]},{"id":"792d2c3c.22bcec","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":1975,"y":2400,"wires":[]},{"id":"c2ec4542.36c758","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":1235,"y":2540,"wires":[]},{"id":"532f0c02.40abe4","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":715,"y":2220,"wires":[]},{"id":"f313a45f.23ab08","type":"link in","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["532f0c02.40abe4","792d2c3c.22bcec","c2ec4542.36c758","363f4e9b.dd53ba","bc690e99.dac428","b58f1bf5.bcd3"],"x":1895,"y":2220,"wires":[["263dc94a.f243de"]]},{"id":"363f4e9b.dd53ba","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":1855,"y":2280,"wires":[]},{"id":"bc690e99.dac428","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":1375,"y":2460,"wires":[]},{"id":"2e4cbf44.38eef8","type":"link in","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["df56a5fe.0817a"],"x":475,"y":2380,"wires":[["b714c59e.da4518","2b47727a.5e3626"]]},{"id":"c55bb023.fa816","type":"jimp-image","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"demo check","data":"/data/static/demo_check.jpg","dataType":"str","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":770,"y":2380,"wires":[["dcfab70f.dd0e1"]]},{"id":"b714c59e.da4518","type":"chatbot-waiting","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","waitingType":"","x":600,"y":2440,"wires":[["b58f1bf5.bcd3"]]},{"id":"2b47727a.5e3626","type":"delay","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":2380,"wires":[["c55bb023.fa816"]]},{"id":"b58f1bf5.bcd3","type":"link out","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","links":["f313a45f.23ab08"],"x":715,"y":2440,"wires":[]},{"id":"2b39295.663f7d6","type":"chatbot-image","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"\"можете сымитировать розыгрыш\"","filename":"","image":"/data/static/demo_prize_drawing.png","caption":"","x":1850,"y":2500,"wires":[["792d2c3c.22bcec"]]},{"id":"45bdd1f0.0d3ba","type":"delay","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1570,"y":2500,"wires":[["2b39295.663f7d6"]]},{"id":"f4f0bb5a.f44ef","type":"comment","z":"2077e8ee.f3b328","g":"98da4fcd.e649b8","name":"","info":"Могут быть использованны данные о чеке из контекста.\n{{check.day}} {{check.month}} {{check.year}} {{check.hour}}:{{check.minute}}.","x":1710,"y":2240,"wires":[]},{"id":"6a99256f.88e1a4","type":"chatbot-message","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"Как получить приз","message":[{"message":"Сейчас с вами свяжется наш оператор, чтобы согласовать доставку приза.\nЕго контакт @total_hamlet_operator"}],"language":"none","x":1510,"y":1940,"wires":[["499de648.0f77f8"]]},{"id":"9be92f05.77418","type":"delay","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1940,"wires":[["6a99256f.88e1a4"]]},{"id":"b9f0c80f.ce8e68","type":"chatbot-ask","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"Вы выйграли! + сброс админки","buttons":[{"type":"keyboardButton","label":"/start"}],"message":"🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш 3 ящиков ананасов. 🎁\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\n🍍 Вы выйграли ящик ананасов!","x":1370,"y":1860,"wires":[["499de648.0f77f8"]]},{"id":"c8259531.4a7c6","type":"link in","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"","links":["6343b2cf.c8f88c"],"x":1135,"y":1860,"wires":[["b9f0c80f.ce8e68","9be92f05.77418","ef32b043.44f998","51b7713a.3efc3"]]},{"id":"499de648.0f77f8","type":"link out","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"","links":["f6219c11.51b578"],"x":1655,"y":1860,"wires":[]},{"id":"ef32b043.44f998","type":"delay","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":1900,"wires":[["55bbb77d.44be48"]]},{"id":"55bbb77d.44be48","type":"chatbot-video","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"\"поздравляем!\"","filename":"","video":"/data/static/win.mp4","caption":"","x":1500,"y":1900,"wires":[["499de648.0f77f8"]]},{"id":"51b7713a.3efc3","type":"delay","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":1980,"wires":[["59e1e40c.c74c64"]]},{"id":"59e1e40c.c74c64","type":"chatbot-image","z":"2077e8ee.f3b328","g":"a8d60a11.ad5dd","name":"\"админка /start\"","filename":"","image":"/data/static/demo_start.png","caption":"","x":1500,"y":1980,"wires":[["499de648.0f77f8"]]},{"id":"cda83f81.eb5fd8","type":"chatbot-telegram-send","z":"2077e8ee.f3b328","g":"ae41901e.e309d","bot":"20f778b0.3b0388","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1970,"y":860,"wires":[]},{"id":"f6219c11.51b578","type":"link in","z":"2077e8ee.f3b328","g":"ae41901e.e309d","name":"","links":["c051070d.aa33f","c3e0f122.6fd5c","c806064f.848d5","232336dd.6ccd72","263dc94a.f243de","cf8b5a6f.e7ced8","499de648.0f77f8","1c25d8a3.5d140f","e9cc7291.a961d","8f7e455d.99f5f8","bc96f608.63f2f8","1408db26.d8109d","4972cdcc.deeab4","6979bb03.b46e04"],"x":1835,"y":800,"wires":[["c6b9dcd1.7321a8"]]},{"id":"c6b9dcd1.7321a8","type":"chatbot-params","z":"2077e8ee.f3b328","g":"ae41901e.e309d","name":"","params":[],"outputs":1,"x":1940,"y":800,"wires":[["cda83f81.eb5fd8"]]},{"id":"ed4d7bf7.e5635","type":"chatbot-message","z":"2077e8ee.f3b328","g":"d57174ee.15bfa8","name":"мои покупки + короткая инфа о ближайшем розыгрыше","message":[{"message":"Ваши покупки\n\nЧек от 21 апреля 2021 23:45:\n- Упаковка яблок «Тотальная деревня» — 2 штуки.\n\nВсе эти продукты участвуют в розыгрыше 3 ящиков ананасов,\nкоторый произойдёт 21 апреля, через 3 дня."}],"language":"none","x":1410,"y":1380,"wires":[["232336dd.6ccd72"]]},{"id":"4ae274e0.46cefc","type":"subflow:7e953954.fcb5d8","z":"2077e8ee.f3b328","g":"d57174ee.15bfa8","name":"","env":[],"x":1379,"y":1420,"wires":[["232336dd.6ccd72"]]},{"id":"2a4313a9.fb8e64","type":"link in","z":"2077e8ee.f3b328","g":"d57174ee.15bfa8","name":"","links":["4da41694.4c2d8"],"x":1135,"y":1380,"wires":[["ed4d7bf7.e5635","4ae274e0.46cefc"]]},{"id":"232336dd.6ccd72","type":"link out","z":"2077e8ee.f3b328","g":"d57174ee.15bfa8","name":"","links":["f6219c11.51b578"],"x":1695,"y":1380,"wires":[]},{"id":"6d0a2d80.08ba54","type":"link in","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","links":["56ae9a45.79d654"],"x":1595,"y":180,"wires":[["505816ff.73d0f8"]]},{"id":"505816ff.73d0f8","type":"chatbot-message","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","message":[{"message":"Для какого города показать погоду?"}],"language":"none","x":1930,"y":180,"wires":[["ca9e4fdd.8a529"]]},{"id":"970a567d.9a6c48","type":"change","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","rules":[{"t":"set","p":"appid","pt":"msg","to":"OPEN_WEATHER_MAP_TOKEN","tot":"env"},{"t":"set","p":"city","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"lang","pt":"msg","to":"ru","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":260,"wires":[["1030e25d.dc8b0e"]]},{"id":"ca9e4fdd.8a529","type":"chatbot-telegram-send","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","bot":"20f778b0.3b0388","botProduction":"20f778b0.3b0388","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":2090,"y":180,"wires":[["970a567d.9a6c48","6f2b4192.73313"]]},{"id":"1030e25d.dc8b0e","type":"function","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","func":"msg.city = encodeURI(msg.city);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":300,"wires":[["9c59bcdd.60454"]]},{"id":"6979bb03.b46e04","type":"link out","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","links":["f6219c11.51b578"],"x":2955,"y":240,"wires":[]},{"id":"908c9e28.66865","type":"chatbot-message","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"200","message":[{"message":"Погода в г. {{payload.name}}: {{payload.weather.0.description}}.\n🌡Температура: {{payload.main.temp}}°\n😏 Ощущается: {{payload.main.feels_like}}°\n💧 Влажность: {{payload.main.humidity}}%\n"}],"language":"none","x":2830,"y":280,"wires":[["6979bb03.b46e04"]]},{"id":"9c59bcdd.60454","type":"http request","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q={{{city}}}&appid={{{appid}}}&units=metric&lang={{{lang}}}","tls":"","persist":false,"proxy":"","authType":"","x":2490,"y":260,"wires":[["ecabee36.00996","90852058.1fdfc"]]},{"id":"ecabee36.00996","type":"switch","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","property":"payload.cod","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2670,"y":260,"wires":[["9e928b3f.6e9d98"],["908c9e28.66865"]]},{"id":"9e928b3f.6e9d98","type":"chatbot-message","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"404","message":[{"message":"Не знаю такого города :("}],"language":"none","x":2830,"y":220,"wires":[["6979bb03.b46e04"]]},{"id":"90852058.1fdfc","type":"debug","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2660,"y":160,"wires":[]},{"id":"6f2b4192.73313","type":"debug","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2380,"y":160,"wires":[]},{"id":"fef0ea81.a96288","type":"comment","z":"2077e8ee.f3b328","g":"ddf3fbd1.c87b98","name":"Weather","info":"","x":1700,"y":280,"wires":[]},{"id":"d1a0f985.24c358","type":"chatbot-ask","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"\"прикрепите чек\" + Админка \"послать чек\"","buttons":[{"type":"keyboardButton","label":"Послать демонстрационный чек"}],"message":"📷 Сфотографируйте чек. \n\nНа нем должен быть хорошо виден QR-код.\n\nЛучше всего получится, если:\n- чек хорошо освещен\n- изображение четкое и не смазанное\n\nПример фотографии чека: /check_example\n\n📎 Отправьте сюда фотографию чека.","x":1370,"y":820,"wires":[["c3e0f122.6fd5c"]]},{"id":"6027141b.14d22c","type":"link in","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"","links":["6ef7e064.b68e9","4ec943b7.4e3ebc"],"x":1135,"y":820,"wires":[["d1a0f985.24c358","9cbc19ed.23fa88"]]},{"id":"c3e0f122.6fd5c","type":"link out","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"","links":["f6219c11.51b578"],"x":1715,"y":820,"wires":[]},{"id":"9cbc19ed.23fa88","type":"delay","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1270,"y":860,"wires":[["caee6813.c407b8"]]},{"id":"caee6813.c407b8","type":"chatbot-image","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"\"пошлите демонстрационный чек","filename":"","image":"/data/static/demo_send_check.png","caption":"","x":1560,"y":860,"wires":[["c3e0f122.6fd5c"]]},{"id":"98d55889.7babd","type":"chatbot-message","z":"2077e8ee.f3b328","g":"e3c4aa60.8d38b8","name":"\"пошлите демонстрационный чек\"","message":[{"message":"```⚙ Это демо-бот.\n\nПоэтому, если у вас нет подходящего чека, вы можете отправить наш, заренее заготовленный, демонстрационный чек.\n\nДля этого нажмите\n\"⚙ Послать демонстрационный чек\".```"}],"language":"none","x":1580,"y":900,"wires":[[]]},{"id":"332252d3.ec752e","type":"link in","z":"2077e8ee.f3b328","g":"e598b36b.07f8e8","name":"","links":["16697759.4fd7d9"],"x":1135,"y":1700,"wires":[["26221f4d.66ee5","fe3dd9f5.49c6d8"]]},{"id":"26221f4d.66ee5","type":"chatbot-ask","z":"2077e8ee.f3b328","g":"e598b36b.07f8e8","name":"Прошел розыгрыш + сброс админки","buttons":[{"type":"keyboardButton","label":"/start"}],"message":"🎲 Сегодня 21 апреля в 17:40 прошел розыгрыш 3 ящиков ананасов. 🎁\n\nПоздравляем победителей:\n+7 916 ***-**-23\n+7 926 ***-**-12\n+7 985 ***-**-11\n\nКаждый из них получает ящик ананасов!\n🍍🍍🍍\n","x":1390,"y":1700,"wires":[["cf8b5a6f.e7ced8"]]},{"id":"cf8b5a6f.e7ced8","type":"link out","z":"2077e8ee.f3b328","g":"e598b36b.07f8e8","name":"","links":["f6219c11.51b578"],"x":1655,"y":1700,"wires":[]},{"id":"fe3dd9f5.49c6d8","type":"delay","z":"2077e8ee.f3b328","g":"e598b36b.07f8e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1310,"y":1740,"wires":[["a1a1255e.4dd4e"]]},{"id":"a1a1255e.4dd4e","type":"chatbot-image","z":"2077e8ee.f3b328","g":"e598b36b.07f8e8","name":"\"админка /start\"","filename":"","image":"/data/static/demo_start.png","caption":"","x":1500,"y":1740,"wires":[["cf8b5a6f.e7ced8"]]}]