node_red_api/flows.json
[{"id":"49c13cac.b32954","type":"tab","label":"Поток 3","disabled":false,"info":""},{"id":"14018272.9e729e","type":"group","z":"49c13cac.b32954","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cf3c58ac.c04ab8","a8421bdc.f86c68","3f81c018.96e4"],"x":694,"y":59,"w":492,"h":82},{"id":"7a6506fe.b94048","type":"group","z":"49c13cac.b32954","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cea6c79.8b3ac38","804b1151.b40a7","3fc035b.c9837ca","153d1e9e.72f651"],"x":694,"y":219,"w":492,"h":202},{"id":"d37bd6d0.356f08","type":"group","z":"49c13cac.b32954","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ce37da06.d77778","8881c869.dfeef8","51abfa62.1bc684","d502ca8b.1fc3d8","ec8f4358.e20fd","8f71927b.519ae","e56526e4.bf5608","2d8deef9.098072","181e0f.787401f2","16dbcb73.d6e6b5","179f1101.db754f"],"x":54,"y":479,"w":1132,"h":162},{"id":"9f32eb7d.c3b0b8","type":"chatbot-telegram-receive","z":"49c13cac.b32954","bot":"ceee600a.9673d","botProduction":"ceee600a.9673d","x":150,"y":200,"wires":[["1a6234a3.0ddb4b"]]},{"id":"1a6234a3.0ddb4b","type":"chatbot-rules","z":"49c13cac.b32954","name":"","rules":[{"type":"command","command":"/start"},{"type":"messageType","messageType":"photo"}],"outputs":2,"x":330,"y":200,"wires":[["c763215f.75ea8"],["46f521dc.98695"]]},{"id":"c763215f.75ea8","type":"link out","z":"49c13cac.b32954","name":"/start","links":["a8421bdc.f86c68"],"x":490,"y":160,"wires":[],"l":true},{"id":"cf3c58ac.c04ab8","type":"chatbot-ask","z":"49c13cac.b32954","g":"14018272.9e729e","name":"","buttons":[],"message":"📷 Сфотографируйте чек. \n\nНа нем должен быть хорошо виден QR-код.\n\nЛучше всего получится, если:\n- чек хорошо освещен\n- изображение четкое и не смазанное\n\n📎 Отправьте сюда фотографию чека.","x":850,"y":100,"wires":[["3f81c018.96e4"]]},{"id":"a8421bdc.f86c68","type":"link in","z":"49c13cac.b32954","g":"14018272.9e729e","name":"","links":["c763215f.75ea8"],"x":735,"y":100,"wires":[["cf3c58ac.c04ab8"]]},{"id":"3f81c018.96e4","type":"chatbot-telegram-send","z":"49c13cac.b32954","g":"14018272.9e729e","bot":"ceee600a.9673d","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1070,"y":100,"wires":[]},{"id":"46f521dc.98695","type":"link out","z":"49c13cac.b32954","name":"Прислали картинку","links":["804b1151.b40a7"],"x":540,"y":240,"wires":[],"l":true},{"id":"ce37da06.d77778","type":"http in","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","url":"/api/send","method":"get","upload":false,"swaggerDoc":"","x":150,"y":560,"wires":[["8881c869.dfeef8"]]},{"id":"8881c869.dfeef8","type":"link out","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","links":["8f71927b.519ae","179f1101.db754f"],"x":275,"y":560,"wires":[]},{"id":"51abfa62.1bc684","type":"chatbot-telegram-send","z":"49c13cac.b32954","g":"d37bd6d0.356f08","bot":"ceee600a.9673d","botProduction":"ceee600a.9673d","track":true,"passThrough":false,"errorOutput":false,"outputs":1,"x":1070,"y":520,"wires":[[]]},{"id":"d502ca8b.1fc3d8","type":"chatbot-conversation","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","botDevelopment":"ceee600a.9673d","botProduction":"ceee600a.9673d","chatId":"","userId":"","transport":"telegram","store":"","x":710,"y":520,"wires":[["2d8deef9.098072"]]},{"id":"ec8f4358.e20fd","type":"debug","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":600,"wires":[]},{"id":"8f71927b.519ae","type":"link in","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","links":["52b211a3.f6757","8881c869.dfeef8"],"x":335,"y":520,"wires":[["e56526e4.bf5608"]]},{"id":"e56526e4.bf5608","type":"change","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"req.query.chat_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["d502ca8b.1fc3d8"]]},{"id":"2d8deef9.098072","type":"chatbot-message","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","message":[{"message":"{{message}}"}],"language":"none","x":870,"y":520,"wires":[["51abfa62.1bc684","ec8f4358.e20fd"]]},{"id":"181e0f.787401f2","type":"http response","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","statusCode":"","headers":{},"x":610,"y":600,"wires":[]},{"id":"16dbcb73.d6e6b5","type":"template","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"success\": true}","output":"json","x":470,"y":600,"wires":[["181e0f.787401f2"]]},{"id":"179f1101.db754f","type":"link in","z":"49c13cac.b32954","g":"d37bd6d0.356f08","name":"","links":["8881c869.dfeef8"],"x":335,"y":600,"wires":[["16dbcb73.d6e6b5"]]},{"id":"cea6c79.8b3ac38","type":"debug","z":"49c13cac.b32954","g":"7a6506fe.b94048","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":380,"wires":[]},{"id":"804b1151.b40a7","type":"link in","z":"49c13cac.b32954","g":"7a6506fe.b94048","name":"","links":["46f521dc.98695"],"x":735,"y":260,"wires":[["153d1e9e.72f651"]]},{"id":"3fc035b.c9837ca","type":"http request","z":"49c13cac.b32954","g":"7a6506fe.b94048","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.103:8000/api/send_image/","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":260,"wires":[["cea6c79.8b3ac38"]]},{"id":"153d1e9e.72f651","type":"base64","z":"49c13cac.b32954","g":"7a6506fe.b94048","name":"","action":"","property":"payload[\"content\"]","x":860,"y":260,"wires":[["3fc035b.c9837ca"]]},{"id":"ceee600a.9673d","type":"chatbot-telegram-node","botname":"${TG_BOT_NAME}","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]