node_red_api/flows.json
[{"id":"9f32eb7d.c3b0b8","type":"chatbot-telegram-receive","z":"e945691.5e02098","bot":"ceee600a.9673d","botProduction":"ceee600a.9673d","x":190,"y":240,"wires":[["1a6234a3.0ddb4b"]]},{"id":"1a6234a3.0ddb4b","type":"chatbot-rules","z":"e945691.5e02098","name":"","rules":[{"type":"command","command":"/start"},{"type":"messageType","messageType":"photo"},{"type":"catchAll"}],"outputs":3,"x":370,"y":240,"wires":[["c763215f.75ea8"],["46f521dc.98695"],["475e775a.f208e8"]]},{"id":"c763215f.75ea8","type":"link out","z":"e945691.5e02098","name":"/start","links":["a8421bdc.f86c68"],"x":530,"y":200,"wires":[],"l":true},{"id":"3f81c018.96e4","type":"chatbot-telegram-send","z":"e945691.5e02098","bot":"ceee600a.9673d","botProduction":"ceee600a.9673d","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1630,"y":340,"wires":[]},{"id":"46f521dc.98695","type":"link out","z":"e945691.5e02098","name":"Прислали картинку","links":["804b1151.b40a7"],"x":580,"y":240,"wires":[],"l":true},{"id":"18f629d3.e16bc6","type":"link in","z":"e945691.5e02098","name":"","links":["1f110f2d.0ec671","d839e1ba.e61e5","68ea1500.d64b9c","2e704f58.aad8e","16bf2bde.024124"],"x":1475,"y":340,"wires":[["3f81c018.96e4"]]},{"id":"914db1e8.5b298","type":"link out","z":"e945691.5e02098","name":"Показать покупки","links":["c2edf03b.c9472"],"x":250,"y":500,"wires":[],"l":true},{"id":"475e775a.f208e8","type":"switch","z":"e945691.5e02098","name":"Сообщения от админки","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"Мои покупки","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":420,"wires":[["914db1e8.5b298"]]},{"id":"534e1a03.1898a4","type":"debug","z":"e945691.5e02098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":180,"wires":[]},{"id":"2c99167a.17b29a","type":"debug","z":"e945691.5e02098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":200,"wires":[]},{"id":"a54514e0.5b4cf8","type":"debug","z":"e945691.5e02098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":580,"wires":[]},{"id":"7613058.01585fc","type":"debug","z":"e945691.5e02098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":600,"wires":[]},{"id":"5a649caa.42bd94","type":"change","z":"e945691.5e02098","name":"HOST","rules":[{"t":"set","p":"host","pt":"msg","to":"46.101.245.26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["3fc035b.c9837ca"]]},{"id":"7a6506fe.b94048","type":"group","z":"e945691.5e02098","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["804b1151.b40a7","3fc035b.c9837ca","153d1e9e.72f651","b991f4b.42cc508","d839e1ba.e61e5"],"x":694,"y":239,"w":642,"h":142},{"id":"804b1151.b40a7","type":"link in","z":"e945691.5e02098","g":"7a6506fe.b94048","name":"","links":["46f521dc.98695"],"x":735,"y":280,"wires":[["153d1e9e.72f651","b991f4b.42cc508"]]},{"id":"3fc035b.c9837ca","type":"http request","z":"e945691.5e02098","g":"7a6506fe.b94048","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://{{{host}}}/api/send_image/","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":280,"wires":[["d839e1ba.e61e5","2c99167a.17b29a"]]},{"id":"153d1e9e.72f651","type":"base64","z":"e945691.5e02098","g":"7a6506fe.b94048","name":"","action":"","property":"payload[\"content\"]","x":860,"y":280,"wires":[["534e1a03.1898a4","5a649caa.42bd94"]]},{"id":"b991f4b.42cc508","type":"chatbot-waiting","z":"e945691.5e02098","g":"7a6506fe.b94048","waitingType":"typing","x":940,"y":340,"wires":[["d839e1ba.e61e5"]]},{"id":"d839e1ba.e61e5","type":"link out","z":"e945691.5e02098","g":"7a6506fe.b94048","name":"","links":["18f629d3.e16bc6"],"x":1295,"y":340,"wires":[]},{"id":"9aac92b.3ea137","type":"group","z":"e945691.5e02098","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cf3c58ac.c04ab8","a8421bdc.f86c68","1f110f2d.0ec671"],"x":774,"y":59,"w":342,"h":82},{"id":"cf3c58ac.c04ab8","type":"chatbot-ask","z":"e945691.5e02098","g":"9aac92b.3ea137","name":"","buttons":[],"message":"📷 Сфотографируйте чек. \n\nНа нем должен быть хорошо виден QR-код.\n\nЛучше всего получится, если:\n- чек хорошо освещен\n- изображение четкое и не смазанное\n\n📎 Отправьте сюда фотографию чека.","x":930,"y":100,"wires":[["1f110f2d.0ec671"]]},{"id":"a8421bdc.f86c68","type":"link in","z":"e945691.5e02098","g":"9aac92b.3ea137","name":"","links":["c763215f.75ea8"],"x":815,"y":100,"wires":[["cf3c58ac.c04ab8"]]},{"id":"1f110f2d.0ec671","type":"link out","z":"e945691.5e02098","g":"9aac92b.3ea137","name":"","links":["18f629d3.e16bc6"],"x":1075,"y":100,"wires":[]},{"id":"d37bd6d0.356f08","type":"group","z":"e945691.5e02098","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ce37da06.d77778","8881c869.dfeef8","d502ca8b.1fc3d8","8f71927b.519ae","e56526e4.bf5608","2d8deef9.098072","181e0f.787401f2","16dbcb73.d6e6b5","179f1101.db754f","2e704f58.aad8e","bcbb4d62.f0475","13cc75f8.4b395a","16bf2bde.024124","79ac9ba6.430524"],"x":114,"y":619,"w":1262,"h":162},{"id":"ce37da06.d77778","type":"http in","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","url":"/api/send","method":"get","upload":false,"swaggerDoc":"","x":210,"y":700,"wires":[["8881c869.dfeef8","7613058.01585fc"]]},{"id":"8881c869.dfeef8","type":"link out","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["8f71927b.519ae","179f1101.db754f"],"x":335,"y":700,"wires":[]},{"id":"d502ca8b.1fc3d8","type":"chatbot-conversation","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","botDevelopment":"ceee600a.9673d","botProduction":"ceee600a.9673d","chatId":"","userId":"","transport":"telegram","store":"","x":770,"y":660,"wires":[["2d8deef9.098072"]]},{"id":"8f71927b.519ae","type":"link in","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["52b211a3.f6757","8881c869.dfeef8"],"x":395,"y":660,"wires":[["e56526e4.bf5608"]]},{"id":"e56526e4.bf5608","type":"change","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"req.query.chat_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":660,"wires":[["d502ca8b.1fc3d8"]]},{"id":"2d8deef9.098072","type":"chatbot-message","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","message":[{"message":"{{message}}"}],"language":"none","x":930,"y":660,"wires":[["16bf2bde.024124","a54514e0.5b4cf8"]]},{"id":"181e0f.787401f2","type":"http response","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","statusCode":"","headers":{},"x":670,"y":740,"wires":[]},{"id":"16dbcb73.d6e6b5","type":"template","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"success\": true}","output":"json","x":530,"y":740,"wires":[["181e0f.787401f2"]]},{"id":"179f1101.db754f","type":"link in","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["8881c869.dfeef8"],"x":395,"y":740,"wires":[["16dbcb73.d6e6b5"]]},{"id":"2e704f58.aad8e","type":"link out","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["18f629d3.e16bc6"],"x":1335,"y":740,"wires":[]},{"id":"bcbb4d62.f0475","type":"delay","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":740,"wires":[["13cc75f8.4b395a"]]},{"id":"13cc75f8.4b395a","type":"chatbot-ask","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"Мои покупки","buttons":[{"type":"keyboardButton","label":"Мои покупки"}],"message":"Вы можете проверить свои покупки","x":1230,"y":740,"wires":[["2e704f58.aad8e"]]},{"id":"16bf2bde.024124","type":"link out","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["18f629d3.e16bc6","79ac9ba6.430524"],"x":1035,"y":660,"wires":[]},{"id":"79ac9ba6.430524","type":"link in","z":"e945691.5e02098","g":"d37bd6d0.356f08","name":"","links":["16bf2bde.024124"],"x":935,"y":740,"wires":[["bcbb4d62.f0475"]]},{"id":"e5d4e1be.77f6","type":"group","z":"e945691.5e02098","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c2edf03b.c9472","82b781c4.2f71e","68ea1500.d64b9c"],"x":474,"y":479,"w":302,"h":82},{"id":"c2edf03b.c9472","type":"link in","z":"e945691.5e02098","g":"e5d4e1be.77f6","name":"","links":["914db1e8.5b298"],"x":515,"y":520,"wires":[["82b781c4.2f71e"]]},{"id":"82b781c4.2f71e","type":"chatbot-message","z":"e945691.5e02098","g":"e5d4e1be.77f6","name":"","message":[{"message":"Кнопка в разработке)"}],"language":"none","x":630,"y":520,"wires":[["68ea1500.d64b9c"]]},{"id":"68ea1500.d64b9c","type":"link out","z":"e945691.5e02098","g":"e5d4e1be.77f6","name":"","links":["18f629d3.e16bc6"],"x":735,"y":520,"wires":[]},{"id":"ceee600a.9673d","type":"chatbot-telegram-node","botname":"${TG_BOT_NAME}","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":true,"webHook":"","connectMode":"polling"}]